[2018-01-23 13:27] jeppy64 opened #3 "Athletics: Re-architecture and Quick Links"
Steve's Notes: Currently, there are four steps to get to the teams.  It would be nice to have links across the top of the athletic page that takes you directly to the sport you want to see.  Also, there is so much scrolling that people miss information.  This is some of the feedback I have received from local fans.
The basketball schedule also needs to be examined. Currently, it is split into two

[2018-02-16 16:28] C13L0 opened #40 "(June) Create moderation workflow for Jobs"
Create moderation workflow for HR editor role

[2018-02-16 16:31] C13L0 opened #41 "(June) Create moderation workflow for Program/Career"
Create moderation workflow for Program Editor role

[2018-02-26 13:22] C13L0 opened #66 "Restructure jobs with JobPosting element"
https://phsc.edu/jobs
----------

https://developers.google.com/search/docs/data-types/job-posting

[code]

[2018-02-28 18:13] C13L0 opened #76 "Campuses landing page and campus node"
The following campus pages need to be themed

Campus landing page
https://phsc.edu/about-phsc/campuses

Individual campus node path
https://phsc.edu/about-phsc/campuses/west-campus

[2018-03-20 16:35] C13L0 opened #90 "University Partners teaser/copy"
@curtiskphsc

University Partners has now been themed. There is a new field called "Teaser" which only shows on the main list page. Please review the teaser copy and also interior copy. I'm also sending an email to Sonia Thorn to review and I will cc you on it.

https://advising.phsc.edu/transfer-programs/university-partners

[2018-04-02 15:36] C13L0 opened #105 "Add contact information to career path"
Add contact name, phone, email to career paths. It can go on the left sidebar at the top so it remains consistent with events contact.

We need to be able to add a contact and reuse it many times. Often a contact will change (especially in nursing) and it should be easily changed in one place. There can be more than one contact for a career path.

- [ ] Title (Example: Dean of Nursing)
- [ ] Name

[2018-04-03 15:51] C13L0 opened #107 "Active Directory Groups"
Connect all sites to Active Directory Groups

[2018-04-04 19:09] C13L0 opened #114 "Create moderation workflow for Clubs and Organizations"
@curtiskphsc

https://student-life.phsc.edu/programs-and-services/clubs-and-organizations

There is not any moderation in place for Clubs and Organizations. I see this as an area that will be heavily edited due to the meeting dates. Do you want full moderation implemented or just a notification on publish?

Please re-assign to me after your reply.

[2018-04-04 19:48] C13L0 opened #115 "Theme Search results"
Theme search results page

[2018-04-05 20:14] C13L0 opened #118 "(April) Event "Deadline" location is blank"
@jeppy64

https://student-life.phsc.edu/

When an event is a Deadline, the location should show as "All Campuses". I thought this correction had been completed on all sites but we must have missed Student Life.  Thanks!!

[2018-04-06 16:42] C13L0 opened #122 "Clubs and Organization time order sort"
@jeppy64 Please feel free to document information on restructuring the events. I changed the title and moved to Phase II for further development

---------
@jeppy64

https://student-life.phsc.edu/
Club and Organization sorts properly by date but not by time. Please sort by date then time.

Thanks!

![time-order](https://user-images.githubusercontent.com/3138019/38433192-f7f61c62-3997-11e8-91d5-2ac

[2018-04-06 17:30] C13L0 opened #123 "Website Concern for Ticket"
This is a two part ticket.
-----

@curtiskphsc assigning this part to you. I recommend adding this to an FAQ for testing services.
---------------
For example, students do not know to select, “Quick Links” then “Testing Services” to find information on the PERT.

@jeppy64 This will be part of phase two.
It has been requested that the main site to have multi site search enabled. We have apache solr

[2018-04-06 17:36] C13L0 opened #124 "Website Concern for Ticket"
From: Melissa Rushton
Sent: Friday, April 6, 2018 01:11 PM
To: Webmaster
Cc: Robert E Bade
Subject: Website Concern for Ticket

Hello Cielo,

Below is feedback from our students regarding the website.  Please create a ticket.  Thanks so much!

There is not one central calendar for all events on all subdomains.  This is making it so double entry of events is required; once from the department on th

[2018-04-19 21:11] C13L0 opened #155 "Update Footer Jobs to Employment at PHSC"
From: Courtney Boettcher
Sent: Thursday, April 19, 2018 04:06 PM
To: Webmaster
Cc: Kevin Curtis
Subject: Update Footer Jobs to Employment at PHSC

Good afternoon,

Please update footer link that says 'Jobs' to 'Employment at PHSC' on all subdomains. See main site footer for reference. Only subdomain that appears to be updated is EPI site at: https://educator-prep.phsc.edu/ all other subdomains nee

[2018-04-19 23:13] C13L0 opened #156 "Website list"
From: Brian Horn
Sent: Thursday, April 19, 2018 06:56 PM
To: Webmaster; Michelle Swingle
Cc: Robert E Bade; Courtney Boettcher; Kevin Curtis; Melissa Harts; Lucy Miller; Stanley Giannet
Subject: Re: Website list

Michelle,

Please see Cielo's request below

Brian S. Horn

Vice President of Finance & Auxiliary Services

Pasco-Hernando State College

10230 West Ridge Road

New Port Richey, FL 34654

[2018-04-20 14:06] curtiskphsc opened #157 "Login issue financial-services.phsc.edu"
Good Morning,
I can still log in to https://financial-services.phsc.edu using my old password.

[2018-04-20 16:13] C13L0 opened #158 "2018 Legislative Session Summary"
From: Michele Fay
Sent: Friday, April 20, 2018 08:57 AM
To: Webmaster
Cc: Rhonda Dodge
Subject: 2018 Legislative Session Summary

Dr. Beard would like the attached PDF posted on the College intranet as soon as possible.

Thank you,

Mickey

Michele Fay

Executive Administrative Assistant to the

    Vice President of Student Affairs & Enrollment Management

PHSC

10230 Ridge Road

New Port Richey,

[2018-04-20 17:01] C13L0 opened #159 "Giannet Ticket Submission - 2"
From: Melissa Harts
Sent: Friday, April 20, 2018 12:57 PM
To: Lucy Miller; Stanley Giannet
Cc: Webmaster; Kevin Curtis; Sonia Thorn; Robert E Bade
Subject: Re: Giannet Ticket Submission - 2

Good afternoon,

Lucy, you were misinformed about having to put Giving on the top of the website as it was part of your staff's original design based on the Foundation's request. Your content manager has alway

[2018-04-20 20:00] C13L0 opened #163 "AMX Slides-FOCUS2 & Jobs"
From: Corey Long
Sent: Friday, April 20, 2018 03:58 PM
To: Webmaster
Cc: Jacqueline Eden
Subject: Re: AMX Slides-FOCUS2 & Jobs

Per Jackie's email below, please post at all campuses. Thank you!

Corey Long
Senior Graphic Designer

10230 Ridge Road
New Port Richey, FL 34654
727-816-3394

This e-mail and any attachments may contain confidential and privileged information. If you are not the intended

[2018-04-23 14:25] C13L0 opened #164 "SKD poster"
From: Jessica White
Sent: Monday, April 23, 2018 10:03 AM
To: Webmaster
Cc: Courtney Boettcher; Karen Kielar
Subject: Fw: SKD poster

Cielo,

Please add Clubs and Organizations as Courtney has suggested.  We would love that from our end.  It would be much easier for users as well.

Thank you!

Jess  :)

Jessica M. White, MS

Director of Student Life & Leadership

Pasco-Hernando State College

o: 7

[2018-04-23 21:03] C13L0 commented on #164
From: Webmaster
Sent: Monday, April 23, 2018 11:24 AM
To: Courtney Boettcher
Cc: Karen Kielar; Lucy Miller; Robert E Bade; Stanley Giannet; Jessica White
Subject: Re: SKD poster | 164 (previously #560) | Open

Good afternoon,

Is there not another tab/open space or is the wording too long, or both?

The wording is too long.

With that said, if you shorten Programs and Services to Programs...it als

[2018-04-23 21:06] C13L0 commented on #164
@curtiskphsc

Please provide exactly which menu links should be changed and what they should be changed to. Once this information has been provided, I will complete the technical aspect of it.

[2018-04-23 21:09] C13L0 opened #165 "Theme Student Life Program pages"
Theme student life programs

https://student-life.phsc.edu/programs/peer-mentor

[2018-04-23 21:16] C13L0 opened #166 "Foundation Web"
From: Jessica Staller
Sent: Monday, April 23, 2018 09:43 AM
To: Webmaster
Subject: Foundation Web

Hi Cielo,

I have two questions. I'm trying to update the sponsors from the Fishing Tournament and it is not showing up on our events section: https://foundation.phsc.edu/department-information/events  It is not even showing up as a past event, so I'm not able to add a few last minute sponsors. Secon

[2018-04-23 21:16] C13L0 commented on #166
@curtiskphsc please look into this request

[2018-04-23 21:20] C13L0 opened #167 "Intranet Update"
From: Sonia Thorn
Sent: Monday, April 23, 2018 11:47 AM
To: Webmaster
Subject: Intranet Update

Dear Webmaster,

Please update the following document on this intranet page with the attached file.

http://www.internal.phsc.edu/administration/is/

file located:

http://www.internal.phsc.edu/administration/is/CIS-manual.pdf

Also, it needs to be renamed CAA Manual.

Thanks, again.

Sonia

Sonia R. Th

[2018-04-23 21:22] C13L0 opened #168 "[Security-news] Drupal 7 and 8 core critical release on April 25th, 2018 PSA-2018-003"
From: Security-news <security-news-bounces@drupal.org> on behalf of security-news@drupal.org <security-news@drupal.org>
Sent: Monday, April 23, 2018 01:09 PM
To: security-news@drupal.org
Subject: [Security-news] Drupal 7 and 8 core critical release on April 25th, 2018 PSA-2018-003

View online: https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.drupal.org%2Fpsa-2018-003&data=02%7

[2018-04-23 21:25] C13L0 opened #169 "SLR website"
From: Robert E Bade
Sent: Monday, April 23, 2018 05:00 PM
To: Webmaster
Cc: Melissa Harts; John Fey; Jessica White
Subject: Fw: SLR website

Cielo - I received an automated response instructing me to send to the Webmaster e-mail.

Sending this to you so you can assist.

Bob

From: Robert E Bade
Sent: Monday, April 23, 2018 4:28 PM
To: John Fey; Jessica White
Cc: Cielo Johnson; Melissa Harts
Subjec

[2018-04-23 21:36] jeppy64 commented on #164
Hi Everyone,

I thought I'd chime in to offer an option.

If the issue is for promotional type things where you'd like to control the url (after the domain name), also known as a vanity url, we already have something exactly like that on the Marketing site called a Marketing Campaign. It is designed to be a landing page that is not part of any menu and can only be reached if you have the correct v

[2018-04-24 00:13] C13L0 opened #170 "Slide to Publish For NC"
The following slide has been added to the WC shared drive and needs to be published at the NC:

event-2018-04-30-Casting-Call.png

Please refresh the monitors.

Thank you,

[2018-04-24 00:26] C13L0 opened #171 "Intranet Posting"
From: Margie Burnham
Sent: Monday, April 23, 2018 11:28 AM
To: Webmaster
Subject: Re: Intranet Posting

Cielo,

Please don't post this before tomorrow.  I need to speak with the Leadership participants and have not yet reached Laura Raposa, nor Eddie Williams via phone.

Thanks.

Margie

From: Margie Burnham
Sent: Monday, April 23, 2018 11:12:50 AM
To: Webmaster
Cc: Sonia Thorn
Subject: Intranet P

[2018-04-24 00:29] C13L0 commented on #158
@curtiskphsc Please make sure to re-assign the ticket to me so I am notified

[2018-04-24 00:50] C13L0 commented on #158
From: Webmaster
Sent: Monday, April 23, 2018 08:40 PM
To: Lucy Miller; Michele Fay
Cc: Rhonda Dodge; Stanley Giannet
Subject: Re: 2018 Legislative Session Summary | 158 | Open

Good afternoon,

You can now follow your ticket live at https://github.com/phsc-edu/2018/issues/158

As per Marketings comment below...

Are you requesting an intranet announcement or for the document to be added to the int

[2018-04-24 13:25] C13L0 commented on #166
Choosing "Persistent Display" moves the event to Past Events

![edit event 12th annual catch release fishing tournament phsc foundation 2018-04-24 09-23-46](https://user-images.githubusercontent.com/3138019/39189895-6703cb9c-47a1-11e8-932d-40ff46925c01.png)

[2018-04-24 13:28] C13L0 commented on #166
@curtiskphsc Please re-assign to me when this has been completed

[2018-04-24 13:44] C13L0 opened #172 "(May) Document double moderation"
@jeppy64

We have double moderation on documents on all sites which is causing issues. We corrected this issue on career study path but didn't make the change to just regular documents.

We do not need "scheduled documents" on any subdomains.

- [ ] Remove moderation from document on event
- [ ] Remove the ability to "Add new node" on document
- [ ] Add the ability to "Add existing node" on docume

[2018-04-24 13:50] C13L0 commented on #172
@jeppy64 Here is a screenshot showing document double moderation

![edit event 12th annual catch release fishing tournament phsc foundation 2018-04-24 09-18-30](https://user-images.githubusercontent.com/3138019/39191379-d54cf0f8-47a4-11e8-8df9-f0a138923ecd.png)

[2018-04-24 16:34] C13L0 opened #173 "Revised April Evening Administrator Schedule"
Subject: Revised April Evening Administrator Schedule

Good Morning,

Please see the attached revised Evening Administrator Schedule for April. The change is for Monday, April 30 on WC.

Thank you!

Jennifer Curtis

Interim Administrative Assistant I,

Dean of Academic Affairs and Institutional Accreditation

[2018-04-24 17:40] C13L0 commented on #158
@curtiskphsc
Dr. Beard has requested for an intranet message.

From: Rhonda Dodge
Sent: Tuesday, April 24, 2018 01:38 PM
To: Webmaster; Lucy Miller; Michele Fay
Cc: Stanley Giannet
Subject: Re: 2018 Legislative Session Summary | 158 | Open

Hello, Cielo -

Dr. Beard would like the document added to the announcement page of the Intranet.  Thank you!   👍

[2018-04-24 18:35] curtiskphsc commented on #171
@C13L0  Please have this reviewed prior to posting as I made some minor changes, specifically per PHSC's style guide we do not use "Dr." unless the credentialed is a medical doctor. I have verified with HR that Mr. Williams holds an Ed.D.

**Congratulations!!!**

Thank you to all who applied to participate in Leadership Hernando and Leadership Pasco. The following employees have been chosen for th

[2018-04-24 19:09] curtiskphsc commented on #166
@C13L0 Three screen shots attached. First one shows my email inbox for the date specified (3/27/2018) I received no notification regarding the 2018 Golf Tournament and I do not move or delete emails. They live where they arrive. Second, clicking the supplied link (in this ticket) takes us to the events page where in the right side bar one can access past events that are listed by clicking on them.

[2018-04-24 19:50] C13L0 commented on #167
[Council on Academic Affairs Manual 2017-2018 FINAL.pdf](https://github.com/phsc-edu/2018/files/1944339/Council.on.Academic.Affairs.Manual.2017-2018.FINAL.pdf)

[2018-04-24 19:54] curtiskphsc commented on #158
@C13L0 I have pulled some copy for this announcement directly from the report. I still think it should be posted on the intranet here http://internal.phsc.edu/afc/legislation.php with all the other Legislative Updates as referenced above, and the copy on that page ought to be massaged to eliminate the mention of Steve Schroeder as suggested. A link to that page could be used or you can link to the

[2018-04-24 19:55] curtiskphsc commented on #158
@C13L0 Placing it on that page would be in addition to posting it as an announcement of course.

[2018-04-24 19:58] curtiskphsc commented on #157
@C13L0 I am now forced to enter my active directory password to enter the site. Thanks for making the correction and ensuring the site is secure.

[2018-04-24 19:58] #157 closed

[2018-04-24 19:59] curtiskphsc commented on #166
@C13L0 I did not reassign this as it is technically not complete. Would you like me to reassign tickets even if they are not complete and the comments have questions?

[2018-04-24 20:03] C13L0 commented on #166
@curtiskphsc Yes, all tickets need to be assigned to someone and can be assigned to more than one person at a time. I usually filter by what is assigned to me.

[2018-04-24 20:16] C13L0 opened #174 "Course schedule subject filter"
From: Artem Geyvandov
Sent: Tuesday, April 24, 2018 12:06 PM
To: Cielo Johnson
Subject: Re: Course schedule subject filter

I've checked the file.   it is OK.

I think somethink got out of sink on your end. Just like last time.

You cleared cash, all tables  and loaded all manually after that  .

From: Cielo Johnson
Sent: Tuesday, April 24, 2018 11:59 AM
To: Artem Geyvandov
Subject: Course schedul

[2018-04-24 20:16] C13L0 commented on #174
2018-04-24 16:15:43 | 2018-04-24 16:15:25 | Imported in 18 seconds. | info
-- | -- | -- | --
2018-04-24 16:15:43 | 2018-04-24 16:15:25 | Failed importing 703 nodes. | error
2018-04-24 16:15:43 | 2018-04-24 16:15:25 | Field validation errors in item 'NCP0013':<div class="item-list"><ul><li class="first"><em class="placeholder">Day/Evening</em>: illegal value.</li> <li class="last"><em class="placeh

[2018-04-24 20:27] jeppy64 commented on #166
Hey Guys,

There was no notification email sent due to the fact that these events have already been published through moderation.  As Cielo mentioned the newer function of Persistent Display makes them show on the right sidebar on other events. What this does is allow an event node to be used as upcoming and past. The idea was that once these events pass, they can go in and add images.

I think we

[2018-04-24 20:30] jeppy64 commented on #172
Yep, you hit it right on the head. Double moderation.

The event has its own and so does the document. I think we might want to talk about creating a new bundle called an Event Document. This will allow us to keep functionality on the Scheduled and Unscheduled documents which is crucial to the academics side.

[2018-04-24 20:37] curtiskphsc commented on #159
@C13L0 I have no issue with creating a "Vision and Mission" page that would be included in the links on the About PHSC landing page. That said, the Leadership page will then have very little content. Could you please remind me where in the IA document the links referenced on the Leadership page are located? The one I am looking at does not include a link path past the About PHSC landing page.

[2018-04-25 12:44] curtiskphsc commented on #166
@jeppy64 @C13L0 The event in question, "9th Annual PHSC Golf tournament" (node/222) has an initial revision date of 3/27/18, so it was not an updated node. It was the first iteration of it, meaning it had not been published yet unless I am completely missing something? See screen shot attached.
![foundation-events-2](https://user-images.githubusercontent.com/28155245/39246544-e170f652-4864-11e8-9e

[2018-04-25 12:51] C13L0 commented on #166
@curtiskphsc @jeppy64

I believe this issue stems from the document double moderation #172 . The Golf Tournament event had a document still in draft, which prevented an email from going out. Emails are only sent on "needs review" and "publish". Once ticket #172 is completed, this issue should correct its self.

[2018-04-25 12:51] C13L0 commented on #166
@curtiskphsc You are correct, it was a new event =)

[2018-04-25 12:55] C13L0 commented on #172
@jeppy64

Please only work on **one** website and let me review it before making changes to all sites. The custom document moderation email configurations were overwritten when accessibility moderation was added.

[2018-04-25 12:59] curtiskphsc commented on #156
@C13L0 Lucy states that she did in fact receive the RFQ's as requested.

[2018-04-25 12:59] #156 closed

[2018-04-25 13:12] C13L0 commented on #123
The prototype search has been completed at https://dev-phsc-advising.pantheonsite.io/

In order to test, search as you normally would by clicking on the magnifying icon and typing in a search word.

It will then bring you to a page which by default searches that website. So in this instance, the word that was typed in will search Advising only.

On the same page is a new google search which search

[2018-04-25 15:28] C13L0 commented on #123
@10yson @curtiskphsc

Yes!  I will work with Rick to submit the request to to Google.
[code]

[2018-04-25 15:52] C13L0 commented on #123
@10yson @curtiskphsc

This looks like a javascript error and will take time to troubleshoot as it could be an issue with the module, core javascript, or even the theme. If it can't be solved, we can add a link to direct the user back to the main search page.

[2018-04-25 15:58] C13L0 commented on #123
@10yson @curtiskphsc

We could remove the search in the header on the search page entirely. This would be a theme layout and design change.

[2018-04-25 16:00] C13L0 commented on #123
Assigning this ticket to @curtiskphsc for a search page layout and design.

[2018-04-25 16:05] C13L0 commented on #164
From: Jessica White
Sent: Wednesday, April 25, 2018 10:33 AM
To: Webmaster
Cc: Courtney Boettcher
Subject: Re: SKD poster | 164 (previously #560) | Open

Cielo,

I have discussed with Courtney.

Please shorten Programs and Services to Programs.

Please add Clubs and Organizations.

Let me know if you have additional questions.

Thank you!

Jess  :)

Jessica M. White, MS

Director of Student Life &

[2018-04-25 16:41] C13L0 commented on #168
From: <security-news@drupal.org>
Date: Wed, Apr 25, 2018 at 12:33 PM
Subject: [Security-news] Drupal core - Critical - Remote Code Execution - SA-CORE-2018-004
To: security-news@drupal.org

View online: https://www.drupal.org/sa-core-2018-004

Project: Drupal core [1]
Date: 2018-April-25
Security risk: *Critical* 17∕25
AC:Basic/A:User/CI:All/II:All/E:Theoretical/TD:Default [2]
Vulnerability: Remot

[2018-04-25 16:44] C13L0 commented on #171
From: Margie Burnham
Sent: Wednesday, April 25, 2018 12:43 PM
To: Webmaster
Subject: Re: Intranet Posting | 171 | For review

Cielo,

Will this be posted today?

Thanks.

Margie

[2018-04-25 17:10] C13L0 opened #176 "Website Question"
@jeppy64 Could you take a look at Jessica's request?

- I think part of this issue can be corrected if we remove "Add new node" and only manage Sponsors through the management UI.

- The only duplicate that I see, is where a sponsor was added twice but with a slight variation of their name.

- Can you verify that each sponsor will show all events they have sponsored on the sponsor page? https://fo

[2018-04-25 17:16] C13L0 commented on #176
Good afternoon Jessica,

It looks like there was a slight name variation for Unlimited Site Services and Unlimited Site Services, Inc which makes it show as two separate companies.

I think there are a few ways we can make managing vendors a bit easier manage so I've assigned your ticket to our vendor.

You can now follow your ticket live at https://github.com/phsc-edu/2018/issues/176

Cielo Johns

[2018-04-25 17:29] C13L0 commented on #173
completed

[2018-04-25 17:31] #173 closed

[2018-04-25 17:38] C13L0 commented on #167
Completed

[2018-04-25 17:38] #167 closed

[2018-04-25 17:57] C13L0 commented on #166
@jeppy64 Please see my comments above. Closing this ticket as it will be addressed in #172

[2018-04-25 17:57] #166 closed

[2018-04-25 18:06] C13L0 opened #177 "Foundation manage past events"
Jessica was not able to find a past event to checkmark "Persistent Display" (#166). To correct this issue, we will create a management view displaying past events, so the Foundation can check/uncheck "Persistent Display".

[2018-04-25 18:11] C13L0 commented on #166
From: Webmaster
Sent: Wednesday, April 25, 2018 02:11 PM
To: Jessica Staller
Subject: Re: Foundation Web | 166 | For review

Jessica,

Marketing published the Golf Tournament event. There was an issue with the automated outgoing email that we are addressing. Also, please make sure and fill out the revision comment so we know what was changed.

As far as the Fishing Tournament, please checkmark "Pe

[2018-04-25 18:45] C13L0 commented on #176
From: Jessica Staller
Sent: Wednesday, April 25, 2018 02:14 PM
To: Webmaster
Subject: Re: Foundation Web | 166 | For review

Thank you. I appreciate the help. I went on the site and changed Unlimited Site Services to Unlimited Site Services, Inc. and they are both identical now and both showing up. I appreciate any help/suggestions. Thank you again! Jessica

[2018-04-25 18:45] C13L0 commented on #176
@jeppy64 Please read Jessica's reply

[2018-04-25 18:52] C13L0 opened #178 "9th Annual Faculty and Staff Summer Art Show"
From: Maria Rhew
Sent: Wednesday, April 25, 2018 02:29 PM
To: Webmaster
Subject: Re: 9th Annual Faculty and Staff Summer Art Show

Thank you, Cielo! Here is the information for the intranet announcement:

1- Title:

Calling all creative types!

2- Message:

The 9th Annual Faculty and Staff Summer Art Show will open May 23rd -- but not without your help! From whatever era in your life, in whatever

[2018-04-25 19:29] C13L0 commented on #168
`4d4b951` Update to Drupal 8.5.3. For more information, see https://www.drupal.org/project/drupal/releases/8.5.3 - Pantheon Automation
`35cdf51` Update to Drupal 8.5.3. For more information, see https://www.drupal.org/project/drupal/releases/8.5.3 - Pantheon
`e2a03c7` External Links (extlink) from 8.x-1.0 to 8.x-1.1. - C13L0
`789354c` Updated JSON API (jsonapi) from 8.x-1.15 to 8.x-1.16 SECURITY U

[2018-04-25 19:32] C13L0 commented on #168
- [ ]  Academic Success Center
- [ ]  Admissions
- [ ]  Advising
- [ ]  Athletics
- [ ]  Career Services
- [ ]  Educator Preparation Institute
- [ ]  eFaculty Support
- [ ]  Equity Services
- [ ]  eStudent Support
- [ ]  Financial Aid
- [ ]  Financial Services
- [ ]  Foundation
- [ ]  Legal Department
- [ ]  Marketing
- [ ]  Office of Disabilities
- [ ]  Safety and Security
- [ ]  Student Life
- [

[2018-04-25 20:33] curtiskphsc commented on #171
@C13L0  There is an extra space after "Instructor" and after "Director" and according to page 14 of the official PHSC style guide under the heading "telephone numbers" we are not to use the "ext" when referencing on-campus telephone numbers. I made the adjustments and pasted the message below.

**Congratulations!!!**

Thank you to all who applied to participate in Leadership Hernando and Leadershi

[2018-04-25 21:19] #168 closed

[2018-04-26 12:30] C13L0 opened #179 "DE Articulation Agreement"
@curtiskphsc

Please work with Admissions to update the content as requested.

From: Kelly Houck
Sent: Wednesday, April 25, 2018 05:05 PM
To: Webmaster
Subject: Re: DE Articulation Agreement

I am sorry but I do not see it. I only see the private school and home school info.

Thanks,

Kelly

From: Webmaster
Sent: Wednesday, April 25, 2018 10:31:49 AM
To: Kelly Houck
Subject: Re: DE Articulation Ag

[2018-04-26 16:43] C13L0 opened #180 "University Partner bugs"

[2018-04-26 17:00] C13L0 commented on #180
@jeppy64

I'm requesting this as a rush. Thank you!!!

https://advising.phsc.edu/transfer-programs/university-partners/kettering-university

- [ ] University Partner node contacts-remove add new node and replace with "Add existing node".

![university-partner-contact](https://user-images.githubusercontent.com/3138019/39320253-875ae90a-4951-11e8-9a22-b83f5da6a09a.png)

[2018-04-26 18:10] C13L0 commented on #118
completed

[2018-04-26 18:10] #118 closed

[2018-04-26 19:48] C13L0 commented on #174
From: Janice L Scott
Sent: Thursday, April 26, 2018 12:39 PM
To: Webmaster; Melissa Harts; Ingrid Purrenhage; Artem Geyvandov
Cc: Raymond Calvert
Subject: Re: No instructor names showing in schedule

Hi artem I was wondering if you could look into the reason that no instructors are showing up on the schedule on the web

Get Outlook for Android

From: Ingrid Purrenhage
Sent: Thursday, April 26, 201

[2018-04-26 19:50] curtiskphsc commented on #123
@C13L0 Just a thought. Has this been tested using Microsoft Edge? Microsoft is shipping newer machines with Edge as the default browser, not IE 11.

[2018-04-26 19:57] C13L0 commented on #174
From: Webmaster
Sent: Thursday, April 26, 2018 03:55 PM
To: Janice L Scott; Melissa Harts; Ingrid Purrenhage; Artem Geyvandov
Cc: Raymond Calvert
Subject: Re: No instructor names showing in schedule

Good afternoon,

The course schedule is no longer able to import the following files which affects the subject and teacher filter.

Import 20182 Schedule | Spring 2018
Import 20183 Schedule | Summer 2

[2018-04-26 20:04] C13L0 commented on #174
@curtiskphsc Just an FYI, this has also affected the Admin Directory. Please don't make any corrections until this issue has been resolved.

[2018-04-26 20:07] C13L0 commented on #123
@curtiskphsc I don't have a way to test on Edge but the website itself has been tested on Edge, so it should be fine. If you install a chrome adblocker you can view it without ads. I would recommend adblock plus.

[2018-04-26 20:09] C13L0 commented on #123
@10yson @curtiskphsc

I removed the search bar from the header on all search pages. This should help reduce confusion on mobile and desktop.

[2018-04-26 20:34] curtiskphsc commented on #179
@C13L0 I have reached out to Dr. Bibbo and as he was not in today he requested I contact Josie Oliver. I called and left her a message around 2 pm today, Thursday, April 26, 2018.

[2018-04-27 12:26] C13L0 commented on #158
Completed

[2018-04-27 12:26] #158 closed

[2018-04-27 13:13] C13L0 commented on #171
Completed

[2018-04-27 13:13] #171 closed

[2018-04-27 13:30] C13L0 opened #181 "Casting Call Webform"
From: Laura Raposa
Sent: Friday, April 27, 2018 06:34 AM
To: Webmaster
Subject: Casting Call Webform

Good morning, Cielo?

How are you?  Would you be able to add Spring Hill, North and West Campuses as an option to the Casting Call Webform?  Thank you! :)

Sincerely,

Laura Kelly Raposa

Coordinator of Student Life and Leadership

Porter Campus at Wiregrass Ranch

2727 Mansfield Boulevard

Wesley

[2018-04-27 13:41] C13L0 opened #182 "(18-03-158 ESOL Open House) Email messages about contact info and web"
@curtiskphsc Could we look at highlighting summer camps and open house in a hero or card? Also, I think we need to find a better way to display the camps. Are these programs? If so, would it be appropriate to add them to the programs / career path?

---------------
From: Wendy Villa
Sent: Thursday, April 26, 2018 03:54 PM
To: Cielo Johnson; Webmaster
Cc: Ed Goolsby; Lucy Miller; Bonnie Mason; Alys

[2018-04-27 13:43] C13L0 opened #183 "May Evening Administrator Schedule"
Good Morning,

Attached is the Evening Administrator Schedule for May.

Thank you!

Jennifer Curtis

Interim Administrative Assistant I,

Dean of Academic Affairs and Institutional Accreditation

[2018-04-27 13:44] C13L0 opened #184 "Intranet posting for Tuesday, 5/1 or before"
From: Claire Cohn
Sent: Thursday, April 26, 2018 10:50 AM
To: Webmaster
Subject: Intranet posting for Tuesday, 5/1 or before

Good morning,

The Foundation is participating in Give Day Tampa Bay on May 1st. If it is possible, could you please post the following announcement on or before Tuesday, May 1st?

The PHSC Foundation will be participating in Give Day Tampa Bay on Tuesday, May 1st, with a g

[2018-04-27 13:47] C13L0 opened #185 "[EduTech Feedback] Will not be able to attend conference"
From: Ana Lopez
Sent: Thursday, April 26, 2018 12:13 PM
To: Webmaster; Cielo Johnson
Subject: Fw: [EduTech Feedback] Will not be able to attend conference

Hi Cielo,

I've deleted Dallona Guincho's registration two times but it doesn't seem to go through. I check the box by her name, then select Delete Item from the drop down list and click Execute. I confirm the deletion but she still shows up. I

[2018-04-27 19:32] curtiskphsc commented on #178
@C13L0 This is good to go
**Calling All Creative Types!**
The 9th Annual Faculty and Staff Summer Art Show will open Wednesday, May 23 — but not without your help! From whatever era in your life, in whatever medium or style — 2D, 3D, digital, video, music, poetry, photography, woodwork, needlework (no tattoos, please) — if you created it, please share it! The usual limit is 5 pieces per artist, bu

[2018-04-27 20:03] curtiskphsc commented on #184
@C13L0 Could you please send along the PDF?

[2018-04-27 20:33] curtiskphsc commented on #182
@C13L0 That is a discussion that includes more than just me, but here is one concern raised regarding the use of cards for events.
1. These are events and thus would be displayed at the same time as the card or hero, and the card or hero would link to the event. First, it would be weird to have duplicate content on the home page. Second, I think the recommendation was, for ADA compliance, to not h

[2018-04-30 13:00] C13L0 commented on #182
From: Karen Strouthopoulos
Sent: Friday, April 27, 2018 02:34 PM
To: Webmaster
Cc: Wendy Villa
Subject: Re: Summer Camp Promotional Advertising

Hello Cielo,

We appreciate the addition of "PHSC Offers Summer Career Camps" under the PHSC News Header on the webpage, which takes you to the Summer Camp press release.  However, there is no direct link to our registration page - is that something that

[2018-04-30 13:01] C13L0 commented on #182
@curtiskphsc

From: Karen Strouthopoulos
Sent: Friday, April 27, 2018 02:34 PM
To: Webmaster
Cc: Wendy Villa
Subject: Re: Summer Camp Promotional Advertising

Hello Cielo,

We appreciate the addition of "PHSC Offers Summer Career Camps" under the PHSC News Header on the webpage, which takes you to the Summer Camp press release.  However, there is no direct link to our registration page - is that s

[2018-04-30 13:01] C13L0 commented on #182
@jeppy64 I'm going to move this ticket to Phase II to add summer camps to the site

[2018-04-30 13:27] C13L0 commented on #163
completed

[2018-04-30 13:27] #163 closed

[2018-04-30 13:27] C13L0 commented on #170
completed

[2018-04-30 13:27] #170 closed

[2018-04-30 19:41] C13L0 commented on #176
Moving to June due to funding

[2018-04-30 19:56] C13L0 commented on #184
@curtiskphsc As a reminder, you can retrieve documents at any time from webmaster email.
[pie charts flyer.pdf](https://github.com/phsc-edu/2018/files/1961989/pie.charts.flyer.pdf)

[2018-04-30 19:59] C13L0 opened #186 "IMM to Post"
From: Pamela Nadolski
Sent: Monday, April 30, 2018 01:50 PM
To: Webmaster
Subject: IMM to Post

Please post IMM 1-19 to the intranet and the effective date should be 4/30/2018.

Thank you,

Pam

[2018-04-30 20:01] C13L0 commented on #174
@jeppy64 Please make sure and add your hours to this ticket

[2018-04-30 20:07] C13L0 commented on #178
completed

[2018-04-30 20:07] #178 closed

[2018-04-30 20:11] C13L0 commented on #185
completed

[2018-04-30 20:15] curtiskphsc commented on #184
@C13L0 How hard is it to just include it in the request? Giving me all of the information associated is very important.

[2018-04-30 20:15] #185 closed

[2018-04-30 20:32] C13L0 commented on #181
completed

[2018-04-30 20:32] #181 closed

[2018-05-01 12:42] curtiskphsc commented on #184
@C13L0 Please link the PDF supplied by Claire to the word "infographic"

**Give Day Tampa Bay**
The PHSC Foundation will be participating in Give Day Tampa Bay on Tuesday, May 1, with a goal of meeting matching opportunities and doubling the impact of your donations. Take advantage of this opportunity to get your employee giving commitment out of the way early in 2018, and help us secure additiona

[2018-05-01 15:44] C13L0 commented on #123
@curtiskphsc

Dr. Harts has advised me that the design needs to be implemented asap per her conversation with Lucy Miller and Dr. Beard . She informed me that he knows it's ready and she will be sending it to him for review. Please have the layout by friday.

[2018-05-01 17:33] C13L0 commented on #123
@curtiskphsc As per Dr. Harts, this is a rush item. Please see screenshots of sections that need design/layout.

**Search Links**
![search-links](https://user-images.githubusercontent.com/3138019/39484471-e9e42802-4d43-11e8-9855-bbd73f3b1d65.png)

**Search page**
![search-input-page](https://user-images.githubusercontent.com/3138019/39484494-fc87b58c-4d43-11e8-81de-13aaaf59baaa.png)

**Search resu

[2018-05-01 17:35] C13L0 commented on #115
This is being addressed in #123

[2018-05-01 17:51] C13L0 commented on #184
completed

[2018-05-01 18:34] C13L0 commented on #159
@curtiskphsc

The Vision and Mission has been created at https://phsc.edu/about-phsc/vision-and-mission

![about-phsc-leadership](https://user-images.githubusercontent.com/3138019/39487273-a63a332c-4d4c-11e8-973c-9564719bfced.png)

[2018-05-01 19:17] C13L0 commented on #155
Completed

[2018-05-01 19:17] #155 closed

[2018-05-01 22:57] C13L0 commented on #174
@jeppy64 Assigning to you to meet with Jan and Artem tomorrow via skype. Let's do whatever it takes to make it work. Hours have been approved by Dr. Harts.

[2018-05-01 23:11] C13L0 commented on #123
@curtiskphsc Excellent! I look forward to it :D

[2018-05-02 01:40] jeppy64 commented on #174
Sounds good. I'll be on Skype at 9:00 am

[2018-05-02 12:49] curtiskphsc opened #187 "Global AMX Slide"
Please post the attached slide on the global AMX. Unpublish on Thursday, May 31 2018.
![financial-aid-reminder-generic](https://user-images.githubusercontent.com/28155245/39523872-14e8fe78-4de5-11e8-804c-26a490f87295.png)

[2018-05-02 13:45] C13L0 opened #188 "Incorrect Links"
From: Amber Karr
Sent: Tuesday, May 1, 2018 03:40 PM
To: Webmaster
Subject: Incorrect Links

Hello,

When trying to use the 'Quick Links' from any course description page, such as the link below, I realized that all 'Quick Links' lead to incorrect places except for the link to the College Store.

https://info.phsc.edu/course-schedule/course/arh1000

Thank you,

AMBER KARR

Senior Office Assistant

[2018-05-02 13:48] C13L0 commented on #188
From: Amber Karr
Sent: Tuesday, May 1, 2018 03:31 PM
To: Webmaster
Subject: Broken Link

Hello,

I was viewing the following Course Description through the Course Schedule at the link below:

https://info.phsc.edu/course-schedule/course/bsc1086

On the right-hand side of the page, there is a 'Quick Link' for the Course Catalog. Unfortunately, it is a broken link:

http://phsc.smartcatalogiq.com/en

[2018-05-02 14:33] C13L0 opened #189 "Theme Document nodes"
Theme Document nodes

Example: https://phsc.edu/academics/forms-and-downloads/program-checklist/dental-hygiene-checklist

![document-node](https://user-images.githubusercontent.com/3138019/39529294-4b6dd1a8-4df4-11e8-9c1b-3bc84cd480f8.png)

[2018-05-02 14:36] C13L0 opened #190 "External Link"
This is specific to call to action links

--------

From: Dave Mayler
Sent: Wednesday, May 2, 2018 10:12 AM
To: Webmaster
Subject: Re: External Link

Oh yeah that would have been helpful... Sorry...  https://testing-services.phsc.edu

From: Webmaster
Sent: Wednesday, May 2, 2018 9:13 AM
To: Dave Mayler
Subject: Re: External Link

Hi Dave,

Which external link?

Cielo Johnson, webmaster
Pasco-Herna

[2018-05-02 14:44] C13L0 commented on #174
Course schedule is currently in maintenance mode. This affects the entire website including the directory

[2018-05-02 15:09] C13L0 opened #191 "Smarthinking URL is not correct"
From: Raymond Calvert
Sent: Wednesday, May 2, 2018 11:01 AM
To: Webmaster
Subject: Re: Smarthinking URL is not correct

The Smarthinking URL on the page associated with this link https://academic-success.phsc.edu/services/resource-links  still takes a person to the portal landing page for the College instead of to Smarthinking.

Here is a screenshot of the Smarthinking link I am referring to.

Ray

[2018-05-02 15:16] C13L0 commented on #191
![smarthinking](https://user-images.githubusercontent.com/3138019/39531922-47229bbe-4dfa-11e8-93a4-067ff2424ac8.png)

[2018-05-02 15:35] curtiskphsc commented on #191
@C13L0 If I am not mistaken, students must be logged in to myPHSC in order to access SmartThinking, thus the link goes to the portal. It has been over a year since I was a student though, so things could have changed.

[2018-05-02 15:37] curtiskphsc commented on #191
@C13L0 The description of the link says "...available 24 hours a day, 7 days a week through myPHSC."

[2018-05-02 15:41] curtiskphsc commented on #123
@C13L0 Could you please provide a link to the Drupal module being utilized for this?

[2018-05-02 16:10] C13L0 commented on #188
All links have been updated.

[2018-05-02 16:10] #188 closed

[2018-05-02 16:37] C13L0 commented on #174
@jeppy64 Thank you! It looks great

[2018-05-02 16:39] C13L0 commented on #174
@curtiskphsc Assigning to you for Admin directory.
https://info.phsc.edu/directory/administration

[2018-05-02 19:55] C13L0 commented on #123
@curtiskphsc

At this time, we are not able to use Apache Solr for multisite search due to a dependency on Composer. We would have to rebuild each website from the ground up, as confirmed by Pantheon.

The good news is that a patch is currently being worked on which will allow us to add Solr without composer. Once the patch is committed, we can continue with our efforts of adding multi-site search

[2018-05-02 20:51] longc77 commented on #123
@C13L0 @curtiskphsc Thank you for the impromptu meeting yesterday Cielo!

To summarize, here’s an outline of what we discussed:
1. CL to provide an edited wireframe of a subdomain page to include theming for:
    a.	Search “Subdomain name” and Search all PHSC sites in the menu bar
    b.	Search bar
    c.	Search results
    d.	Also mentioned, that Cielo’s not sure if the “go” button once clicking

[2018-05-02 20:58] curtiskphsc commented on #191
@C13L0 So to answer your question, no. The link should not point to the staff portal. It should point to the student portal.

[2018-05-02 21:21] curtiskphsc opened #192 "Email notification issue"
https://student-life.phsc.edu/department-information/events/campus/get-acquainted-day-east-campus
![email-issue](https://user-images.githubusercontent.com/28155245/39549767-156b7e32-4e2d-11e8-8126-f497818b9a78.JPG)

[2018-05-02 22:45] C13L0 commented on #192
@curtiskphsc Thank you! I will work with Rick Sanders on the email issue first thing in the morning. It's probably affecting all sites.

[2018-05-02 22:46] C13L0 commented on #192
Watchdog

Message | Error sending e-mail from phscwebmaster@phsc.edu to cielo.email@gmail.com: SMTP Error: Could not authenticate.
-- | --

[2018-05-02 23:39] C13L0 commented on #123
@longc77

Corey, thank you for your commitment. Your attitude and positiveness is awesome. :D

[2018-05-03 00:57] C13L0 commented on #191
@curtiskphsc

From the information you have provided, it sounds like we are using single sign on (SSO) from the student portal to SmartThinking. I will reach out to Jan and Jonathan to confirm. If this is correct, then students should be directed to myPHSC.

[2018-05-03 13:53] C13L0 opened #193 "Summer 2018 tutor category"
From: Benjamin Schultze
Sent: Thursday, May 3, 2018 08:12 AM
To: Webmaster
Subject: Summer 2018 tutor category

Ceilo,

For the Academic Success Center, can you create a Summer 2018 category for the tutor schedule, so tutor schedules can be set up? Thank you.

Benjamin Schultze

Academic Success Center Coordinator

Pasco Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

(727) 81

[2018-05-03 14:35] C13L0 commented on #192
@curtiskphsc

This is back up and running. Thank you for notifying me of the issue.

[2018-05-03 14:35] #192 closed

[2018-05-03 14:42] C13L0 opened #194 "Subdomain"
From: Wendy Villa
Sent: Thursday, May 3, 2018 10:09 AM
To: Webmaster
Cc: Ed Goolsby; Alysen Heil
Subject: Subdomain

Hi Cielo,

I would like to request that Workforce be added to the department list on our Phsc website, and a "Subdomain" be created to include information regarding Workforce, and the STEM initiative.

Please let me know what you'll need from me to get this taken care of.

Thanks so

[2018-05-03 14:43] C13L0 commented on #194
@curtiskphsc

https://phsc.edu/about-phsc/departments

[2018-05-03 14:59] C13L0 opened #195 "Allow subdomains to change past/current/future semester"
I believe this specifically affects Academic Success Center https://academic-success.phsc.edu and Athletics https://athletics.phsc.edu

[2018-05-03 15:16] C13L0 commented on #193
completed

[2018-05-03 15:16] #193 closed

[2018-05-03 16:15] curtiskphsc commented on #159
@C13L0 Thanks for providing this, however this is not the requested link path. This is only the path to the About PHSC landing page. I requested the IA document showing the link path for the Leadership page https://phsc.edu/about-phsc/leadership

[2018-05-03 16:16] curtiskphsc commented on #159
@C13L0 I am requesting the IA document that shows which links were to be included in the left side bar on the Leadership page.

[2018-05-03 16:36] curtiskphsc commented on #191
@C13L0 That is correct from the way I understand it to work, but again I have not attempted to use SmartThinking in quite some time. The way it used to work, from what I remember as a student, in order  to access SmartThinking students must first login to Canvas, and to login to Canvas they must use the student portal. It could be different now or my memory could be wrong :)

[2018-05-03 17:28] C13L0 commented on #164
Completed

[2018-05-03 17:37] C13L0 commented on #164
Re-index site with google

[2018-05-03 18:23] C13L0 opened #196 "(May) University Partners meridiem"
p.m. shows as a.m.

![university-partners-time](https://user-images.githubusercontent.com/3138019/39595451-8a22b2b2-4edd-11e8-9316-8855b1f9065d.png)

[2018-05-03 18:36] longc77 commented on #123
Hello @C13L0 @curtiskphsc! I’ve put together the wireframes as discussed. Included in the PDF are two options.

The Marketing team recommends Option B. Option B is simple, provides a seamless transition and would be user friendly. An external visitor to the site, wants to find the information they are looking for fast. This option allows them to do so.

Option A, has the potential to cause confusi

[2018-05-03 18:38] longc77 commented on #123
@C13L0, can you see the PDF?

[2018-05-03 18:38] longc77 commented on #123
@C13L0, can you see the PDF?

[2018-05-03 18:38] longc77 commented on #123
@C13L0, can you see the PDF?

[2018-05-03 18:41] C13L0 opened #197 "University Partners Saint Leo update"
@curtiskphsc

Please work with Sonia Thorn to update University Partners Content and the event for May 10. I've added in the May 8 event. Please be aware there is a bug with the meridiem #196.

I haven't uploaded the logo as there hasn't been a decision made.

--------

From: Teresa Brabham <Teresa.Brabham@saintleo.edu>
Sent: Thursday, May 3, 2018 02:02 PM
To: Webmaster
Subject: RE: Saint Leo Univ

[2018-05-03 18:42] C13L0 commented on #197
Updates
[PHSC SLU Website Updates.docx](https://github.com/phsc-edu/2018/files/1972227/PHSC.SLU.Website.Updates.docx)

[2018-05-03 23:55] C13L0 commented on #123
@longc77  Looks great! Due to current restrictions using a custom google search, we are going to temporarily use Option A for theming. Once we can create our own custom search with apache solr, then I will re-theme the search to Option B. I appreciate your time coming up with both.

[2018-05-04 13:04] C13L0 commented on #159
@curtiskphsc The links on the left side bar are children menu items of the parent menu as displayed in the above screenshot. **About PHSC** is the parent menu item.

![39487273-a63a332c-4d4c-11e8-973c-9564719bfced png 1341x677 2018-05-04 09-01-27](https://user-images.githubusercontent.com/3138019/39629429-278436f6-4f7a-11e8-862e-09a45718ad02.png)

[2018-05-04 15:33] C13L0 opened #198 "SACSCOC Accreditation Statement (Website) Update"
@curtiskphsc https://policies.phsc.edu/accreditation

----------

From: Stanley Giannet
Sent: Friday, May 4, 2018 10:50 AM
To: Webmaster
Cc: Melissa Harts; Sonia Thorn
Subject: Fw: SACSCOC Accreditation Statement (Website) Update

Cielo - Please update the SACSCOC statement on our website to read:

Pasco-Hernando State College is accredited by the Southern Association of Colleges and Schools Commi

[2018-05-04 15:38] C13L0 opened #199 "PHSC Website Link/Error Message"
@curtiskphsc Please work with Workforce Development or appropriate department to update the Database and E-Commerce program content on our website.

----------

From: Sonia Thorn
Sent: Friday, May 4, 2018 10:47 AM
To: Information Center; Kevin Curtis
Cc: Webmaster; Lisa Brennan
Subject: Re: PHSC Website Link/Error Message

This certificate program was eliminated effective January 2018.   The one s

[2018-05-04 15:43] C13L0 opened #200 "Intranet | Broken Link to College Forms"
Webmaster,

On the Intranet, it was brought to my attention there is a broken "College Forms" link in the Quick Links mega menu.

I recommend one of the following actions:

remove link
OR update link to "https://phsc0.sharepoint.com/sites/documents/college_forms/"
(i.e. Office 365 Cabinet / College Forms)

Thanks,

Mark

[2018-05-04 15:45] C13L0 opened #201 "IMM 7-2 and NEW IMM"
From: Pamela Nadolski
Sent: Friday, May 4, 2018 11:16 AM
To: Webmaster
Subject: NEW IMM

Please post the attached NEW IMM 1-41 Social Media Account Creation and Maintenance Procedures

Effective date is 4/30/18.

Thank you,

Pam

----------------

From: Pamela Nadolski
Sent: Thursday, May 3, 2018 02:31 PM
To: Webmaster
Subject: IMM 7-2

Please Post the attached IMM 7-2 on the Intranet and please p

[2018-05-04 15:58] C13L0 commented on #191
@curtiskphsc I have reached out to Jan and Jonathon and have not heard back. Please either remove the link or find out the correct link

[2018-05-04 18:49] C13L0 commented on #123
@longc77

It looks like there are font size changes for Pasco-Hernando State College and subdomain name. If this is correct, can you please provide the font sizes?

The fill can be any color you like as long as it's ada compliant! Please provide the color you would like.

![font-size](https://user-images.githubusercontent.com/3138019/39646722-5ec5c550-4faa-11e8-84e9-7a05a7012877.png)

[2018-05-04 19:10] longc77 commented on #123
Hi @C13L0. I grabbed it from one of the last wireframes I had on file. Weird. Not sure how we're off. Since we never had a chance to sit down together and tweak for style, please make it consistent with what you have now. TY!

For the fill, can you make it a percentage of the dark grey that's park of the style guide (#A7A9AC color used for breadcrumbs)?

[2018-05-04 19:12] C13L0 commented on #200
completed

[2018-05-04 19:12] #200 closed

[2018-05-04 19:12] C13L0 commented on #200
@10yson  completed!

[2018-05-04 19:29] C13L0 commented on #201
completed

[2018-05-04 19:47] C13L0 commented on #187
completed

[2018-05-04 19:47] #187 closed

[2018-05-04 19:47] #201 closed

[2018-05-04 19:49] C13L0 commented on #123
Yes, I can make it a specific percentage. Do you have one in mind or should I eyeball it?

[2018-05-04 19:50] C13L0 commented on #123
@longc77 Yes, I can make it a specific percentage. Do you have one in mind or should I eyeball it?

[2018-05-07 12:51] longc77 commented on #123
Good morning @C13L0. Did you eyeball it or can I still provide a specific %? If you did, can I take a look at what you have?

[2018-05-07 12:54] curtiskphsc commented on #199
@C13L0 The link is broken because the program no longer exists. It should be removed from the website. Dean Thorn is working with Dean Goolsby directly to address this.

From Dean Thorn:
"This certificate program was eliminated effective January 2018.   The one student in the certificate was  advised with a teach out plan."

My response to her:
"Dean Thorn,
The link _has_ been removed from the 201

[2018-05-07 12:54] C13L0 commented on #123
@longc77 I haven't pushed the changes up yet, so you can still make adjustments =)

[2018-05-07 12:57] C13L0 commented on #199
@curtiskphsc Only Marketing and Admin have permissions to delete programs from the website. However, we do need to be notified of future major program changes.

[2018-05-07 13:36] longc77 commented on #123
K. I'm thinking 20% of the #58595B (on style guide) would look good. If there are any concerns with the color, please let me know. Thanks @C13L0

[2018-05-07 13:41] curtiskphsc commented on #191
@C13L0 Changed the link to https://myportal.phsc.edu and sent an email to Ben asking for clarification. I think the link text should be tweaked a bit but I need him to respond before I make that change. Received his out of office reply.
"From Benjamin Schultze:
I will be out of the office until Monday, May 14th and I will have limited access to email. If this is urgent, please contact senior offic

[2018-05-07 14:38] curtiskphsc commented on #159
@C13L0 Got it. The landing page menu becomes the left side bar menu on those pages.
Added content to Vision Mission page, removed duplicate content from Leadership page.

[2018-05-07 15:59] C13L0 commented on #159
@curtiskphsc

This is not ada compliant. Please do not use bold in place of headers and remove ALL CAPS

![not-ada-compliant](https://user-images.githubusercontent.com/3138019/39711576-18857a04-51ee-11e8-832a-9aeef9b2f916.png)

[2018-05-07 16:06] C13L0 commented on #159
As per Dr. Harts, the content must be removed until ada compliant

[2018-05-07 16:13] curtiskphsc commented on #159
@C13L0 It was already on our website in that configuration created on 08/01/2017 - 13:58 by miaDmin
Initial revision. https://phsc.edu/node/37/revisions/37/view
I would suggest that the original content creator make the changes.

[2018-05-07 17:01] C13L0 opened #202 "ADA issue"
@curtiskphsc
https://policies.phsc.edu/policies-and-procedures/policy-statements/eoe-ada-compliance

--------------

From: Melissa Harts
Sent: Monday, May 7, 2018 12:48 PM
To: Webmaster
Subject: Fw: ADA issue

Please submit this as a ticket as per the attorney. This should be added to end of our disclaimer for ADA compliance. Thank you.

As we discussed, to help minimize any legal risk, I recommen

[2018-05-07 17:17] longc77 commented on #123
@C13L0, from your comment before (copied and pasted below),
I don't understand what that means. Please explain in layman terms – explain current restrictions, etc. Is our own custom search timeline TBD? TY!

C13L0 commented May 3, 2018 • edited
@longc77 Looks great! Due to current restrictions using a custom google search, we are going to temporarily use Option A for theming. Once we can create ou

[2018-05-07 17:26] C13L0 opened #203 "Disclaimer for Browsers"
@curtiskphsc

In addition to reviewing the disclaimer, please provide where the disclaimer should be placed.

From: Melissa Harts
Sent: Monday, May 7, 2018 12:50:24 PM
To: Webmaster
Subject: Disclaimer for Browsers

Cielo,

Please submit the following for Marketing review as disclaimer language for the website browsers.  Thank you.

The website displays best in Chrome, Firefox, and Mozilla web bro

[2018-05-07 17:45] C13L0 commented on #196
@jeppy64 adding this to work order as we have six hours back!! Yay!!!

https://advising.phsc.edu/

Can you please look at the twig rewrite? Everything looks like it should be correct, however p.m. is showing a.m.

![advising-university-partners](https://user-images.githubusercontent.com/3138019/39715945-db230df2-51fc-11e8-9515-8331954e16be.png)

[2018-05-07 17:47] C13L0 commented on #176
@jeppy64 Moving this to May work order as we have six hours back!! Yay!!!

[2018-05-07 17:49] C13L0 commented on #172
@jeppy64 moving this to May work order as we have six hours back!! Yay!!!

[2018-05-07 17:51] C13L0 commented on #203
From: Melissa Harts
Sent: Monday, May 7, 2018 01:44 PM
To: Webmaster
Subject: Re: Disclaimer for Browsers

Yes. Thank you.

Melissa Harts, Ed.D

Vice President of Technology and Distance Education

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

(727) 816-3466

From: Webmaster
Sent: Monday, May 7, 2018 12:51 PM
To: Melissa Harts
Subject: Re: Disclaimer for Browsers

Abso

[2018-05-07 18:50] curtiskphsc commented on #202
@C13L0 If it comes from the attorney, I don't have anything to add. Also, as it is legal language it should be routed to the content owner/editor of the Policies and Governance sub domain and that appears to be Pam Nadolski. I will forward the request to her.

[2018-05-08 12:21] C13L0 opened #204 "Ambassador Application"
From: John Fey
Sent: Monday, May 7, 2018 02:11 PM
To: Webmaster
Cc: Student Life Core
Subject: Ambassador Application

Please create this form for Ambassador Application.

All fields are required.  The responses go to events@phsc.edu.

This form should be added to the Ambassador webpage https://student-life.phsc.edu/programs/student-ambassador

The Ambassador request form that is currently on the

[2018-05-08 12:24] C13L0 opened #205 "Revised May Evening Administrator Schedule"
Good Afternoon,

Attached is the revised Evening Administrator Schedule for May. The changes are for East and West Campuses.

Please let me know if you have any questions.

Thank you!

Jennifer Curtis

Interim Administrative Assistant I,

Dean of Academic Affairs and Institutional Accreditation

[2018-05-08 14:00] C13L0 opened #206 "(May) SEO summary metatag token"
Updated content seo summary metatag token to

description: [node:field_seo_summary]

[2018-05-08 14:03] curtiskphsc opened #207 "Help and How To Question"
We are displaying duplicate content on many of our help and how to pages, specifically on financial-aid.phec.edu.
Ideas on how to avoid this?
![help-how-to](https://user-images.githubusercontent.com/28155245/39761742-df7aa4be-52a6-11e8-9c75-f29796308d7b.JPG)

[2018-05-08 14:55] C13L0 commented on #207
@curtiskphsc @longc77
This is design/layout. We can address it in #77

Closing...duplicate

[2018-05-08 14:55] #207 closed

[2018-05-08 15:26] curtiskphsc commented on #202
@C13L0 Completed

[2018-05-08 15:26] #202 closed

[2018-05-08 17:38] curtiskphsc commented on #199
@C13L0 Deleted this program from the website per Dean Goolsby and Dean Thorn.

[2018-05-08 17:40] curtiskphsc commented on #179
@C13L0 Dean Thorn is working to reestablish these documents on our website. She stated she would work with Admissions to get this accomplished.

[2018-05-08 17:45] curtiskphsc commented on #182
@C13L0  All they need to do is provide the registration link to the information center. They can add it to the event page and I can add the link to the news piece as well. We simply need them to provide us the link.

[2018-05-08 17:47] curtiskphsc commented on #182
@C13L0 I have made that request of Wendy.

[2018-05-08 17:51] curtiskphsc opened #208 "AMX Global"
Please post on AMX global and run through August 9, 2018
![9th-annual-faculty-staff-summer-art-show-8-9-2018](https://user-images.githubusercontent.com/28155245/39773644-b71ce02a-52c6-11e8-8266-c0df65ccea2f.png)

[2018-05-08 18:24] C13L0 opened #209 "Update auto entity label token cleanup"
admin/structure/types/manage/eday/auto-label

`[node:field_eday_date:date:relativity_node_title_date] [node:field_eday_start_hour2]:[node:field_eday_start_minute2] [node:field_eday_start_meridiem]`

[2018-05-08 20:04] longc77 commented on #123
@C13L0, based on our conversation this AM, how are these?

[2018-05-09 11:58] C13L0 commented on #123
@longc77 awesome! thanks =)

[2018-05-09 12:10] C13L0 commented on #174
@curtiskphsc

Update on Administration directory:

**Administration checkmark**
Jan will be able to provide us with information which will auto populate the admin directory.

**Administration work title**
Could you please provide a list of Administration that need their titles updated? Jan said she would work directly with HR to correct them, which will allow us to auto populate the titles again.

[2018-05-09 13:08] C13L0 commented on #107
@jeppy64

Please provide an estimate of how many hours this would take

[2018-05-09 13:10] C13L0 commented on #107
Recap:

- Sites WSD when removing users
- Directory (user) info should auto update

[2018-05-09 13:43] 10yson opened #210 "Events for PHSC Mobile"
The ability to view _upcoming events_ and _key academic dates_ is a popular and useful tool for our PHSC Mobile users.  Please provide a method for our mobile users to see events and dates posted on our college website(s).

**Preferred method:**

- one or more JSON feeds that can be consumed by the app's Calendar module.  This method will provide me with more development options within the app.

*

[2018-05-09 16:54] longc77 commented on #123
Notes from mock wireframes on programming that can't be done at this time:
-search bar where you enter terms can not exist (only the drop down menu)
-it has to take you to another page to enter your search terms
-search results word/phrase can't be highlighted on Google page
-search results word/phrase can be highlighted on Drupal page and is set up that way but is not functioning that way. Jay an

[2018-05-10 16:53] curtiskphsc opened #211 "Financial Aid sub domain unable to send email notice"
"Unable to send email. Contact the site administrator if the problem persists"
https://financial-aid.phsc.edu/important-information/transient-students
![fin-aid-email-notice](https://user-images.githubusercontent.com/28155245/39882143-fc228ab8-5450-11e8-8b73-dbaa49c7ad3c.JPG)

[2018-05-10 18:17] curtiskphsc commented on #197
@C13L0 Who is the content owner? I think Advising is Chiquita. Can they not make contact updates? I don't mind assisting, but the content owners need to get used to entering and editing content or I will forever be doing it myself.
Also, there are two _past events_ showing as _upcoming_ on the page in the right side bar. https://advising.phsc.edu/transfer-programs/university-partners/saint-leo-uni

[2018-05-10 18:42] curtiskphsc commented on #194
@C13L0 Awaiting a response.
"Wendy,
In order to add Workforce Development to the list of departments here https://phsc.edu/about-phsc/departments we need to identify a general contact phone number, fax number (if your office has one), and if possible an email (a general email, not employee specific). If Workforce Development does not have a general email, such as admissions@phsc.edu, I would sugge

[2018-05-10 18:46] curtiskphsc commented on #174
@C13L0 The admin directory has been rebuilt. Two hours and thirty eight minutes. I used a timer. About an hour was used to discuss the process going forward and determine the appropriate naming convention for the photo files, etc. The rest was re-inputting the info.

[2018-05-10 18:48] curtiskphsc commented on #159
@C13L0 The issue was corrected Monday.

[2018-05-10 18:50] curtiskphsc commented on #159
@C13L0 Also, I have agreed to assist Dean Thorn and her staff with reestablishing the links in the Catalog. That process has begun.

[2018-05-10 20:52] curtiskphsc commented on #194
@C13L0 Created a Workforce Development listing https://phsc.edu/node/2350 but I have no way to designate the campus.

[2018-05-14 12:16] C13L0 commented on #199
Assigning to myself to follow up with Mary Jo on this ticket

[2018-05-14 12:27] curtiskphsc opened #212 "Content Moderation Issue"
I received an email notification from admissions.phsc.edu that content needed to be reviewed (attached)
![issue-with-moderation](https://user-images.githubusercontent.com/28155245/39997232-3265b6fc-5750-11e8-8d4d-56791c3e64c6.JPG)
The dashboard states I have nothing to review in moderation (attached)
![issues-with-content-moderation-2](https://user-images.githubusercontent.com/28155245/39997327-85

[2018-05-14 17:46] C13L0 commented on #203
@curtiskphsc

That is really a marketing decision. As per Dr. Harts, we will temporarily add the disclaimer to the footer.

[2018-05-14 17:55] curtiskphsc commented on #203
@C13L0 That is actually where i would prefer it to live.

[2018-05-15 16:31] jeppy64 commented on #123
Time to complete: 12 hours - all sites

All sub domains have:
Local site search
Global search through Google Custom search
core Relativity content types, plus individual specialty content types

Marketing Site has:
Global search through Google Custom search

[2018-05-15 19:52] C13L0 commented on #115
This has been completed

[2018-05-15 19:52] #115 closed

[2018-05-15 20:09] C13L0 opened #213 "Theme subdomain search menu at mobile"
@longc77  Due to time constraints, I themed the search menu as option one. However, we need to get together to discuss the following:

- [ ] What should it look like at mobile? There are issues especially when the subdomain has a long title like Admissions and Student Records and Educator Preparation Institute.

- [ ] Discuss  the animation, especially at mobile

(Comps from ticket #123)
[search-m

[2018-05-15 20:16] C13L0 commented on #159
**Status: Completed**
The employee search-by-name feature is no longer available because the directory is separate from the website. Please fix this so that when one searches an employee name on the site, it will navigate and provide the link to the employee directory information.

**Status: Completed**
Under the "About PHSC" include a link or include in the body of the narrative, the College's mi

[2018-05-15 20:16] C13L0 commented on #159
**Status: In progress**

[2018-05-15 21:04] C13L0 commented on #205
Completed

[2018-05-15 21:04] #205 closed

[2018-05-15 21:12] C13L0 commented on #123
@jeppy64 Signing off on this as completed.

I created a new ticket to complete the subdomain search menu when @longc77 and I have a chance to work on it.

[2018-05-16 02:32] longc77 commented on #213
@C13L0, do you want to set up a time this week or I'm free next Tuesday?

[2018-05-16 12:02] C13L0 opened #214 "IMM update"
- [x] IMM 1-1
- [x] IMM 6-17
- [x] IMM 6-12
- [x] IMM 1-31
- [x] IMM 1-30
- [x] IMM 2-31
- [x] IMM 3-1
- [x] IMM 3-3
- [x] IMM 3-4
- [x] IMM 3-8

Thank you,

Pamela A. Nadolski, FRP ACP
Advanced Certified Paralegal
Pasco-Hernando State College
10230 Ridge Road
New Port Richey, FL 34654

[2018-05-16 12:06] C13L0 opened #215 "Administration Page"
From: Janice L Scott
Sent: Tuesday, May 8, 2018 09:38 AM
To: Melissa Harts; Kevin Curtis; Webmaster; Cielo Johnson
Cc: Lucy Miller
Subject: Re: Administration Page

Good Morning,

We can differentiate Administrators by looking at the pay grade in the HR system.  That will help us determine their Admin status.

We now have a full title that is 100 characters in length to cover the position titles t

[2018-05-16 12:19] C13L0 commented on #215
From: Janice L Scott
Sent: Wednesday, May 9, 2018 11:11 AM
To: Webmaster; Cielo Johnson
Cc: Melissa Harts
Subject: Follow-up for the Changes needed for the Admin Director

Good Morning,

I wanted to send a follow-up email regarding our discussion yesterday for changes needed on the Bio file to help support the Administrator page.

 We will add a column that will have an A for each employee that is

[2018-05-16 12:25] C13L0 commented on #215
From: Janice L Scott
Sent: Thursday, May 10, 2018 09:47 AM
To: Dave Mayler
Cc: Webmaster; Cielo Johnson; Melissa Harts; Vivian Friend; Kevin Curtis; Lucy Miller
Subject: Changes to BIO file for Website Directory

Good Morning,

I populated the CLS.MGTCAT with an A for all people that need to be on the Administrator page.

We need to add 2 columns to the file:

 Administrator - Populate with an "A"

[2018-05-16 12:28] C13L0 opened #216 "Cindy Bellamy Retirement Celebration"
From: Edith Buffington
Sent: Thursday, May 10, 2018 12:59 PM
To: Webmaster
Subject: Cindy Bellamy Retirement Celebration

Please post this announcement on the internal webpage prior to the event.

Thank you

Cindy Bellamy will be retiring from the College after 35 years of service.  Please join us in celebrating Cindy’s retirement by stopping by West Campus E-206 Conference room on June 26th, 2018

[2018-05-16 12:35] C13L0 opened #217 "Pharmacy Tech AMX Slide for Posting"
From: Corey Long
Sent: Monday, May 14, 2018 04:07 PM
To: Webmaster
Cc: Kevin Curtis
Subject: Pharmacy Tech AMX Slide for Posting

Please post this at all campuses. Class begins June 5.

Thank you.

![pharmacy-tech-amx](https://user-images.githubusercontent.com/3138019/40117164-22940c70-58e4-11e8-8a29-c307fd92b384.png)

[2018-05-16 12:39] C13L0 commented on #214
IMM 2-30 has incorrect date online

From: Pamela Nadolski
Sent: Wednesday, May 16, 2018 08:36 AM
To: Webmaster
Subject: IMM 2-30 has incorrect date online

IMM 2-30 has 2/20/16 as the effective date for this IMM.  It should be 2/30/17.  Please change it on the list.

Thank you,

Pam

[2018-05-16 12:44] C13L0 opened #218 "Correction to Website"
https://phsc.edu/about-phsc/news/press-release/phsc-offers-martial-arts-and-self-defense-course-health-care

From: Karen Strouthopoulos
Sent: Wednesday, May 16, 2018 08:17 AM
To: Webmaster
Subject: Re: Correction to Website

Webmaster,

Please make correction regarding Room # for the Martial Arts course being offered.  It should read: R-151

[2018-05-16 12:48] C13L0 opened #219 "Staff Portal Page"
From: Janice L Scott
Sent: Thursday, May 10, 2018 05:48 PM
To: Cielo Johnson; Webmaster
Cc: Jonathan Myers
Subject: Staff Portal Page

Jonathan and I looked at the html for the staff portal page and the cabinet tile is there.  Were you looking at the student when you thought you had the wrong file.  Everything appears to be good.

Please compile and let us know when the dist files are ready for us

[2018-05-16 12:52] C13L0 opened #220 "Update Master Course Outline Document"
http://internal.phsc.edu/administration/is/mco.php

From: Jennifer Curtis
Sent: Tuesday, May 15, 2018 12:28 PM
To: Webmaster
Cc: Sonia Thorn
Subject: Update Master Course Outline Document

Please change the Master Course Outline Template to the one in the attachment.

Thank you!

Jennifer

[2018-05-16 12:58] C13L0 opened #221 "remove FA form"
From: Kim Williams
Sent: Thursday, May 10, 2018 10:26 AM
To: Webmaster
Subject: remove FA form

Hi Cielo;

I wanted to remove this 2017-2018 form from our web page and wasn't certain I did that request correctly?  Here is the URL for the form I want removed , , lol , , thanks! https://financial-aid.phsc.edu/sites/default/files/documents/2017-2018-childcare-grant-application.pdf

[2018-05-16 13:00] C13L0 commented on #184
From: Claire Cohn
Sent: Wednesday, May 9, 2018 03:44 PM
To: Webmaster
Subject: Re: Intranet posting for Tuesday, 5/1 or before | 184 | For review

This can be taken down whenever it's convenient.

Thanks,
Claire.

[2018-05-16 13:03] C13L0 opened #222 "support portal URL link needs to be edited"
From: Rakesh Shah
Sent: Monday, May 14, 2018 05:52 PM
To: Webmaster
Cc: Janice L Scott; Jonathan Myers; Kathy MacLenna
Subject: support portal URL link needs to be edited

hi Cielo,

Can you please edit intranet link for the support portal to  Support.PHSC.edu ?

It's going to page not found- currently when you click on the link below:

[2018-05-16 13:06] C13L0 opened #223 "10K bach"
From: Janice L Scott
Sent: Tuesday, May 15, 2018 04:34 PM
To: Kevin Curtis; Stanley Giannet
Cc: Lucy Miller; Cielo Johnson; Webmaster
Subject: Re: 10K bach

This is awesome!  Thank you Kevin for turning this around so quickly.  I appreciate it.

As soon as we know the url than Dr. Giannet, we can complete the survey.

Janice L. Scott
Executive Director of Management Information Services
Pasco-Hern

[2018-05-16 13:10] C13L0 opened #224 "Advising dept. list"
When someone authenticates to a subdomain, they automatically show in directory. Change "Show in directory" default to no.

---------------

From: Rakesh Shah
Sent: Tuesday, May 15, 2018 05:06 PM
To: Webmaster
Cc: Janice L Scott; Kathy MacLenna
Subject: Advising dept. list

hi Webmaster,

I am wrongly listed under Advising dept

https://advising.phsc.edu/department-information

[2018-05-16 13:41] C13L0 opened #225 "Career Services Webpage access"
Enable https://www.drupal.org/project/flood_unblock

----------

From: Breanna Perry
Sent: Wednesday, May 16, 2018 09:32 AM
To: Webmaster
Subject: Career Services Webpage access

Cielo,

Yesterday I was trying to access the Career Services page at  https://career-services.phsc.edu/user/login

It locked me out for too many failed login attempts and I still do not have access today.  Are you able to

[2018-05-16 14:17] curtiskphsc commented on #218
completed

[2018-05-16 14:17] #218 closed

[2018-05-16 14:29] C13L0 commented on #225
completed

[2018-05-16 14:29] #225 closed

[2018-05-16 14:45] curtiskphsc commented on #221
@C13L0 Just so I am 100% certain of the process. Only the content author has delete permissions?
This has been completed.

[2018-05-16 16:09] curtiskphsc commented on #223
@C13L0 Content has been added to the page.

[2018-05-16 16:16] curtiskphsc commented on #216
Good to go.
**Cindy Bellamy Retirement Celebration**
Cindy Bellamy will be retiring from the College after 35 years of service. Please join us in celebrating Cindy’s retirement at the West Campus on June 26, 2018 from 1-3 p.m in E206 (conference room). RSVP to Rhonda Dodge at 3401 for this special occasion.

[2018-05-16 17:28] C13L0 commented on #223
completed

[2018-05-16 17:28] #223 closed

[2018-05-16 17:30] C13L0 commented on #214
From: Pamela Nadolski
Sent: Wednesday, May 16, 2018 10:39 AM
To: Webmaster
Subject: Re: IMM 2-30 has incorrect date online | 214 | Open

Woops, I meant it should be 2/20/17.  So when you change it, please put 2/20/17.

I can't wait till I can do this with the IMMs like I can with the Board Rules. Then I won't have to bug you.  LOL.

Thanks for all of your help.

Pam

[2018-05-16 17:35] C13L0 opened #226 "Financial Aid FAQ and "Help" title"
@curtiskphsc I wasn't sure if you wanted a ticket or not. Feel free to close it if you feel it isn't needed.

-----

From: Kevin Curtis
Sent: Wednesday, May 16, 2018 11:45 AM
To: Lucy Miller; Corey Long; Courtney Boettcher; Kim Williams
Cc: Webmaster
Subject: Re: Financial Aid FAQ and "Help" title

Good Morning,

I am going to take a look at the analytics on this for the Financial Aid sub domain.

[2018-05-16 17:35] C13L0 commented on #221
@curtiskphsc Just temporarily. As soon as we roll out the updated document moderation (scheduled and unscheduled) then they will be able to remove/delete any document. Currently,

---
Closing ticket

[2018-05-16 17:37] #221 closed

[2018-05-16 19:43] curtiskphsc commented on #123
@C13L0 The universal search is only returning one page from the Catalog no matter the search term entered, and that page has nothing to do with the term searched.  See screenshot. Searched Unmanned Vehicle Systems Operation and the only catalog page returned is the Dental Hygiene page?
![search-function-issue](https://user-images.githubusercontent.com/28155245/40139951-83b26d0e-591f-11e8-8b1d-95ee

[2018-05-16 19:54] curtiskphsc commented on #123
@C13L0 Searched Cybersecurity and returned Paramedic page.
![cybersecurity-search](https://user-images.githubusercontent.com/28155245/40140352-b57c78ec-5920-11e8-9574-55fdf44d19f6.JPG)

[2018-05-16 20:14] longc77 commented on #123
@C13L0 As mentioned in **Theme subdomain search menu at mobile #213:**
"@longc77 Due to time constraints, I themed the search menu as option one."
* The site doesn't match the mock provided. The text in the search is black and non bold. The one on the mock is white and bold.
* The search results links are not the correct color
* where's the search again button - when we search from phasic.edu and

[2018-05-16 20:40] C13L0 commented on #123
@curtiskphsc I'm not able to customize the google search any further.

[2018-05-16 20:42] C13L0 commented on #213
@C13L0 As mentioned in Theme subdomain search menu at mobile #213:
"@longc77 Due to time constraints, I themed the search menu as option one."

The site doesn't match the mock provided. The text in the search is black and non bold. The one on the mock is white and bold.
The search results links are not the correct color
where's the search again button - when we search from phasic.edu and don't typ

[2018-05-16 20:42] C13L0 commented on #213
Moving comments to the current ticket

[2018-05-16 20:46] C13L0 commented on #213
@longc77 I can meet next Thursday May 24 to work on the design. I will address the other issues at that time =)

[2018-05-16 20:48] longc77 commented on #189
@C13L0 can you theme this to look like the search results?

[2018-05-16 20:50] C13L0 commented on #189
@longc77 Yes, I can!

[2018-05-16 20:55] longc77 opened #227 "Fine Tuning Theming"
@C13L0 and I previously discussed sitting down and fine tuning the theming. I'd like to do this before the start of Phase II.

[2018-05-16 20:55] C13L0 commented on #214
Completed

[2018-05-16 21:07] C13L0 commented on #220
completed

[2018-05-16 21:08] #220 closed

[2018-05-17 12:39] longc77 commented on #213
For next Thursday, May 24, does a specific time and place work best for you @C13L0 ? Once I hear from you, I can send a meeting request.

[2018-05-17 15:00] C13L0 opened #229 "Library hours"
From: Raymond Calvert
Sent: Thursday, May 17, 2018 10:40 AM
To: Webmaster
Subject: Library hours

Summer library hours for all campuses is 8 am to 7:30 pm Monday through Thursday.  We will be closed Friday through Sunday and on the two designated holidays (Memorial Day and Fourth of July) when the College is closed.

As the libraries do synchronize to the same hours each week I recommend there be

[2018-05-17 15:51] C13L0 commented on #213
@longc77 I would prefer the morning if possible. I don't have anything on my calendar for the entire day :D

[2018-05-17 16:22] curtiskphsc opened #230 "(August) Add "Create New Event" Option to Event Creation/Workflow?"
We had what I feel is a good suggestion come in from Jackie Eden. She created a new event and when completed she wanted to immediately create another event but could not figure out how. Currently the only way I am aware that this can be accomplished is to go back to the dashboard and start from the beginning. I am suggesting that a "New Event" or "Create New Event" option be added so content creat

[2018-05-17 18:56] jeppy64 commented on #206
Token string replaced. All sites complete.

1 Hour Total Time

[2018-05-17 19:42] C13L0 commented on #216
Completed-
Message will run from 6-1 to 6-26

[2018-05-21 15:05] C13L0 commented on #169
Development site has been created and email sent to John, Jessica, and Bob.

[2018-05-21 15:10] C13L0 opened #231 "SLR workshop proposal"
https://student-life.phsc.edu/department-information/news/announcement/call-student-leadership-retreat-slr-workshop-proposals

Link to submit workshop proposal form is not correct. It should link to an event deadline which contains the workshop proposal form. The workshop proposal form is generic and can be used for any event.

[2018-05-21 15:19] C13L0 commented on #227
Lets schedule something. In the meantime, you are free to create tickets for any theming issues. =)
----
Closing, as we don't need a ticket to schedule a meeting.

[2018-05-21 15:33] C13L0 opened #232 "Global content block layout configuration"
Move core content block from global block layout to each individual content types. This will prevent the main content block from moving when a new visibility group is created.

**Block visibility groups**
- [ ] Front page
- [ ] Static page
- [ ] Event node path
- [ ] Help and how to node path
- [ ] News node path
- [ ] Any custom node paths

-------------------
- [x]  Academic Success Center
- [x]

[2018-05-21 15:57] C13L0 opened #233 "Theme tutor page"
https://academic-success.phsc.edu/schedules/tutors/alexis-k-12

![image](https://user-images.githubusercontent.com/3138019/40317035-2ce41388-5cee-11e8-8e09-c282faa8d618.png)

[2018-05-21 16:00] C13L0 opened #234 "Academic Success Center: Complete video tutorial page"
This was not completed during phase 1

--------
https://academic-success.phsc.edu/services/video-tutorials

[2018-05-21 16:01] C13L0 commented on #234
@longc77 Once built, this will also need to be themed.

[2018-05-21 16:42] longc77 commented on #234
@C13L0 I have this 3-column design for video and we talked about it being easy to make it 2-column. Would this work for this or is this something we need to discuss on Thursday at our meeting?

[3-column Wireframe Mock.pdf](https://github.com/phsc-edu/2018/files/2023354/3-column.Wireframe.Mock.pdf)

[2018-05-21 17:21] curtiskphsc commented on #231
@C13L0 Okay, but the call for proposals is not an "event" and should not be listed in the events. It is an announcement. I guess they should just visit the RSVP page then?

[2018-05-21 17:47] curtiskphsc commented on #231
@C13L0 but technically, it is not an "event" in the true definition of the word as there is no location and no actual start time. SLR is an event, but the call for SLR proposals is simply an announcement. So, to open a webform we must always create an "event"? Which has a required date, and date start time/end time. For the date we would select the deadline date I assume of June 21, 2018. For the

[2018-05-21 17:49] C13L0 commented on #231
@curtiskphsc I would recommend putting end of business day

[2018-05-21 17:50] C13L0 commented on #231
@curtiskphsc The system doesn't know the difference between start/end time =)

[2018-05-21 18:37] C13L0 opened #235 "Equity Services programs path"
Theme programs landing path.

https://equity-services.phsc.edu/programs/center-excellence

![programs](https://user-images.githubusercontent.com/3138019/40323780-7b130d1e-5d04-11e8-82da-2fd5efdb37a9.png)

[2018-05-21 19:30] C13L0 opened #236 "Theme Financial Services RFP"
https://financial-services.phsc.edu/purchasing/contract-awards landing page
https://financial-services.phsc.edu/purchasing/prior-complete/rfp/15-01 node page

----------

**Contract awards landing**
![contract-awards](https://user-images.githubusercontent.com/3138019/40326011-c787d4f2-5d0b-11e8-9b50-b7d70415766d.png)

**Individual node page**
![contract-award-node-page](https://user-images.githubu

[2018-05-21 19:46] C13L0 opened #237 "Foundation theme Leadership"
https://foundation.phsc.edu/about/leadership

![leadership](https://user-images.githubusercontent.com/3138019/40326682-28cf06fc-5d0e-11e8-8daa-ee9d963dddfa.png)

[2018-05-21 19:54] curtiskphsc commented on #231
@C13L0 Yes, but a start time is a "required" entry and there is no start time for the deadline on June 21, only and end time.

[2018-05-21 19:57] C13L0 commented on #231
@curtiskphsc Put the end time into the start time slot

[2018-05-21 20:03] C13L0 opened #238 "Foundation theme alumni"
- [ ] Alumni: https://foundation.phsc.edu/alumni
- [ ] Honorary Alumni: https://foundation.phsc.edu/alumni/honorary-alumni
- [ ] Alumni Bio: https://foundation.phsc.edu/alumni/1970s/gerald-cobb

** Alumni **
![alumni](https://user-images.githubusercontent.com/3138019/40327306-5f1b1f8c-5d10-11e8-840c-6ac01127dad9.png)

** Honorary Alumni **
![honorary-alumni](https://user-images.githubusercontent.c

[2018-05-21 20:06] curtiskphsc commented on #231
@C13L0 I just used the start time for the deadline time but our content editors are very literal and will not understand this concept. The deadline time should probably be the "end time"

[2018-05-21 20:06] #231 closed

[2018-05-21 20:19] C13L0 opened #239 "Theme policy statements"
https://policies.phsc.edu/policies-and-procedures/policy-statements

![policy-statements](https://user-images.githubusercontent.com/3138019/40327956-b7689492-5d12-11e8-8379-fdbcdad48f67.png)

[2018-05-21 20:33] C13L0 opened #240 "Theme DBoT landing page"
Theme DBoT landing page

![dbot](https://user-images.githubusercontent.com/3138019/40328487-8fbdc7b2-5d14-11e8-995d-6b9bf09098d3.png)

[2018-05-21 20:39] C13L0 opened #241 "Phone and network outage at Spring Hill"
@curtiskphsc

There is a phone and network outage at Spring Hill. Spectrum is working on the issue. Dr. Harts has asked for a message to be posted on the website.

[2018-05-21 20:44] curtiskphsc commented on #241
@C13L0 This is what we used last time and Mark also placed a mobile app banner message I believe.
I have published the announcement to the website.

**Important Information: Technical Issues, Spring Hill Campus**

The Spring Hill Campus is currently experiencing an interruption of internet and phone service. The service provider, Spectrum, is experiencing technical issues in the Spring Hill area.

[2018-05-21 20:55] C13L0 commented on #241
Looks great! Thank you very much.

[2018-05-21 20:55] #241 closed

[2018-05-21 21:12] curtiskphsc opened #242 "PHP issue again"
Pat updated a job about 45 minutes ago. The benefits and job description documents are not displaying to anonymous users and are instead redirecting to the 404 page. Looks like the PHP is still inserting itself
https://phsc.edu/index.php/sites/default/files/documents/job-description-748.pdf

[2018-05-21 21:14] C13L0 commented on #242
Closing duplicate #175

[2018-05-21 21:14] #242 closed

[2018-05-21 21:20] C13L0 commented on #241
Removed message as per Dr. Harts

[2018-05-22 12:51] C13L0 commented on #232
Completed

[2018-05-22 12:51] #232 closed

[2018-05-22 14:23] C13L0 commented on #204
@curtiskphsc Please review the copy at https://student-life.phsc.edu/programs/student-ambassador-request. I simply copied from the old website.

[2018-05-22 15:25] curtiskphsc commented on #204
@C13L0 I see no errors and have no issue with the copy as is.

[2018-05-22 15:27] C13L0 commented on #204
@curtiskphsc excellent! closing

[2018-05-22 15:27] #204 closed

[2018-05-22 15:30] C13L0 commented on #214
Please post IMM 7-2 and please put 5/14/2018 as the effective date.

Thank you,

Pam

[2018-05-22 17:08] C13L0 commented on #184
completed

[2018-05-22 17:08] #184 closed

[2018-05-22 17:15] C13L0 commented on #203
completed

[2018-05-22 17:15] #203 closed

[2018-05-22 17:21] C13L0 opened #243 "Theme sidebar menus at mobile"
Theme sidebar menus at mobile

![landing-sidebar](https://user-images.githubusercontent.com/3138019/40378996-0b7b230a-5dc3-11e8-80f7-6db7b1c29f15.png)

![interior-sidebar](https://user-images.githubusercontent.com/3138019/40378992-04bcad5e-5dc3-11e8-861e-e8478b51950f.png)

[2018-05-22 17:45] C13L0 commented on #217
completed

[2018-05-22 17:45] #217 closed

[2018-05-22 17:45] C13L0 commented on #208
completed

[2018-05-22 17:45] #208 closed

[2018-05-22 17:47] C13L0 commented on #206
Excellent! Thank you @jeppy64

[2018-05-22 17:47] #206 closed

[2018-05-22 18:42] C13L0 opened #244 "2018-2019 Basketball Schedule and Roster"
@jeppy64

From: Micheal Jones
Sent: Tuesday, May 22, 2018 10:24 AM
To: jeppy64@gmail.com; Webmaster
Subject: 2018-2019 Basketball Schedule and Roster

Good morning!

Let me know when we can start adding our new schedule for this season coming up.  Keep me posted.

Thanks.

[2018-05-22 18:43] C13L0 commented on #244
@jeppy64 This issue should be solved once #195 is completed

[2018-05-22 18:56] curtiskphsc opened #245 ""Unable to send email" notice"
![email-notice-issue](https://user-images.githubusercontent.com/28155245/40383972-3c2fd402-5dd0-11e8-89eb-d17783251dc5.JPG)

[2018-05-22 19:04] C13L0 commented on #245
@curtiskphsc This is the same as #192 . I'm not able to replicate it and believe it is an issue with authenticating to Office 365, which is out of my control.

![email](https://user-images.githubusercontent.com/3138019/40384371-54cea24e-5dd1-11e8-9dd5-b5b1e89a6498.png)

[2018-05-22 19:04] #245 closed

[2018-05-22 19:15] curtiskphsc commented on #245
@C13L0 No problem. You asked me to let you know is all. Who should be notified?

[2018-05-22 19:17] DrivinDave commented on #215
Good afternoon Dave,

FYI~

A potential Paramedic applicant was unable to view the TC-PARA application and checklist so he came into our office today for assistance. Karen Dittman and myself tried to click to link to view/print both for the student and were unable to do so. It appears the link may be broken.

We, however, were able to view/print the link after removing the index.php that you recom

[2018-05-22 19:19] C13L0 commented on #245
@curtiskphsc When the issue is persistent and can be replicated. The drupal settings don't change and are solid. The issue is that O365 is not consistent and sometimes authenticates and other times it doesn't. In ticket #192 it was a persistent issue that affected all sites. Rick went in and reset the password to the no-reply email account.

[2018-05-22 19:35] C13L0 commented on #215
@DrivinDave Thank you for that info. It belongs in ticket #175

[2018-05-22 19:50] DrivinDave commented on #215
@C13L0  I have placed the comment in the proper area. Thanks

[2018-05-22 19:53] C13L0 commented on #212
@jeppy64

Can you please take a look at this view?  This report is not showing all items in moderation. It should be showing (https://admissions.phsc.edu/node/217/latest) in "Needs review" and an event in "Draft". Only the draft is showing.

![image](https://user-images.githubusercontent.com/3138019/40386607-373175fc-5dd8-11e8-9140-32fc6c8a202b.png)

[2018-05-22 19:58] C13L0 opened #246 "Technology Assistance Link on Intranet"
From: Kathy MacLenna
Sent: Tuesday, May 22, 2018 03:00 PM
To: Webmaster
Subject: Technology Assistance Link on Intranet

Please replace the document that is attached to the Technology Assistance link on the internal site.

Kathy

[2018-05-22 20:18] C13L0 commented on #174
completed

[2018-05-22 20:18] #174 closed

[2018-05-22 20:25] C13L0 commented on #194
@curtiskphsc Navigate to "Manage Campus" in the admin dashboard, then choose directory listings tab.

![image](https://user-images.githubusercontent.com/3138019/40388185-cc006dce-5ddc-11e8-8bdf-dc9a4cf3d3de.png)

[2018-05-22 20:53] C13L0 opened #247 "Notice on Intranet"
@curtiskphsc I'm creating a ticket as I haven't been provided any information concerning the electronic Marketing request form.

From: Karin Glessner
Sent: Tuesday, May 22, 2018 04:28 PM
To: Webmaster
Cc: Vivian Friend
Subject: Notice on Intranet

Hello, Cielo:

as per Ms. Friend's instructions, I'm enclosing a statement to be posted on the PHSC Intranet:

"Our sincere sympathies go to Spring Hill

[2018-05-22 21:08] curtiskphsc commented on #247
@C13L0 Courtney was working on tweaking the language I think as well as working with Mark on a Sharepoint form. She is not in today. I will ask about it tomorrow.

[2018-05-22 21:10] curtiskphsc commented on #247
@C13L0 In the meantime, go ahead and post with this as is.

**Condolences**
Our sincere sympathies go to Spring Hill Campus VA advisor, David Stroud, and his wife, Karen, who lost their son, Talon (21), on May 16, 2018. Talon was working toward his Bachelors in Public Health at Florida Gulf Coast University in Ft. Meyers. He graduated from Dover High School in Dover, Delaware, and loved nature and

[2018-05-23 03:45] jeppy64 commented on #212
Turns out in core 8.5 a bunch of things were changed and added for the better. What we built "at the time" was taking advantage of new table relationships, but starting from the node table, then joining out to the revisions table. "using the core views option for moderation state" gave us way too many false positives.

To show what's new in core 8.5, I created a brand new view that does begin in t

[2018-05-23 12:11] C13L0 commented on #247
completed

[2018-05-23 12:11] #247 closed

[2018-05-23 13:26] jeppy64 opened #248 "May 2018: Drupal LDAP: New Group Config: All Sites"
Need Work session with Rick to grab correct Group and User configs and load into LDAP.
Update existing Directory view after final test and authentication, on CRON directory responds to user active.

[2018-05-23 13:50] C13L0 commented on #107
closing, duplicate of #248

[2018-05-23 13:50] #107 closed

[2018-05-23 13:53] C13L0 commented on #3
@jeppy64 Please review and update estimate to include associated tickets #244 and #195

[2018-05-23 13:56] C13L0 commented on #224
Closing as this issue will be resolved in ticket #248

[2018-05-23 13:56] #224 closed

[2018-05-23 14:10] C13L0 commented on #177
@jeppy64 Look at reworking yearly events. Can you please give me an estimate including rework of the regular event datetime stamp.

[2018-05-23 14:22] C13L0 commented on #215
Assigning to @jeppy64

[2018-05-23 14:30] C13L0 opened #249 "Course schedule default semester"
Jan has provided a new column to map the current semester.

From: Janice L Scott
Sent: Wednesday, May 9, 2018 3:28 PM
To: Artem Geyvandov; Cielo Johnson
Cc: Melissa Harts
Subject: Re: New field for schedule file

Thank you Artem.  Cielo this is so you can work on the Default Term filter.  If you need any assistance please let us know!

Janice L. Scott
Executive Director of Management Information S

[2018-05-23 14:36] C13L0 opened #250 "Add chosen module"
Add chosen module

[2018-05-23 17:22] curtiskphsc commented on #194
@C13L0 Okay, created Workforce listing. I would like to know if we can make an adjustment to the way the hours display when we select "closed". As it stands, selecting closed on Friday in the listing displays the word "closed" but still displays the hours for that day. It looks as if we are open _before_ 8 am and _after_ 4;30 pm. It would be nice if the hours for that day were automatically hidden

[2018-05-23 18:36] curtiskphsc commented on #229
@C13L0 The hours and contact info on this page https://phsc.edu/student-life/libraries used to populate directly from our old directory. When the content was migrated, all of the visible content on the page was copied and then pasted into the new page as body text. I have changed this to link to the "department listings" page to find hours. Also, I swear I already changed the library hours back wh

[2018-05-23 18:36] #229 closed

[2018-05-23 20:17] curtiskphsc opened #251 "Instagram and YouTube link in footer"
The Instagram icon link in our footer appears to be incorrect. It should point to https://www.instagram.com/phscedu/
The YouTube link in our footer should point to https://www.youtube.com/phscedu
Although the currently in place link points to the same YouTube channel, we now have a new custom YouTube link that no longer consists of our old name PHCCweb

[2018-05-23 20:30] C13L0 opened #252 "Announcement of Updated IMMS and Board Rules"
From: Pamela Nadolski
Sent: Wednesday, May 23, 2018 02:25 PM
To: Webmaster
Cc: Donna Burdzinski; Brian Horn
Subject: Announcement of Updated IMMS and Board Rules

Cielo,

We need to do another announcement of updated IMMs and Board rules on the INTRANET Page.  Therefore please see the below.

Office of Policies and Governance announces that the following IMMs were recently updated and are posted o

[2018-05-23 20:37] C13L0 opened #253 "CSS print file"
Create CSS print file for all sites.

Some sites will have special print needs such as the Writing Center and Athletics.

[2018-05-23 20:42] jeppy64 commented on #248
Work session with Rick on Drupal value mappings and general implementation needs:
Time: 45 minutes

[2018-05-23 20:45] C13L0 commented on #248
I spoke with Rick. He has recommended that we use the Department field to "map" to user/role. He is recommending that we manually create (and maintain) security groups for the few groups that need access to more than one site.

List of those with special access needs:

Rick Casey - Career Services and Testing Services
Sonia Thorn (and two others) - Advising
Academic Technology - eStudent and eFacu

[2018-05-23 20:45] jeppy64 commented on #212
Updated to show only newest revisions. Applied to all sites. Disabled original view and updated menu link.
Time to complete: 1 hour

[2018-05-23 21:07] C13L0 commented on #212
@curtiskphsc Please give this a test at https://admissions.phsc.edu/admin/manage/content-moderation

It should be working properly now!

[2018-05-23 21:34] curtiskphsc commented on #252
@C13L0 Good to go
**Recent IMM and Board Rule Changes**
The Office of Policies and Governance announces that the following IMMs were recently updated and are posted on the PHSC Intranet site: IMM 1-1, IMM 1-19, IMM 1-30, IMM 1-31, IMM 2-30, IMM 2-31, IMM 3-1, IMM 3-3, IMM 3-4, IMM 3-8, IMM 7-2.

The Office of Policies and Governance announces that the following Board Rules were recently updated an

[2018-05-24 12:00] C13L0 commented on #252
completed

[2018-05-24 12:00] #252 closed

[2018-05-24 13:37] C13L0 commented on #253
Need from Corey
Header and footer. logo in svg

[2018-05-24 13:39] C13L0 commented on #253
Note to self: 1.5 margin

[2018-05-24 13:56] C13L0 commented on #243
Note: May want to look at desktop theme at the same time

[2018-05-24 14:03] jeppy64 commented on #210
Estimated time: 3 hours

[2018-05-24 14:07] jeppy64 commented on #215
Estimated time: 3 hours

[2018-05-24 14:08] jeppy64 commented on #249
Estimated time: 4 hours

[2018-05-24 14:08] jeppy64 commented on #234
Estimated time: 3 hours

[2018-05-24 14:26] C13L0 opened #254 "Theme top menu bar at mobile"
![top-menu](https://user-images.githubusercontent.com/3138019/40491682-b4dbee96-5f3c-11e8-9701-816dc7e51994.png)

[2018-05-24 14:28] C13L0 commented on #213
Move search icon to main menu bar on the right side. On click, will open panel on from the right.

[2018-05-24 14:33] C13L0 commented on #189
Add accessibility webform to all document nodes.

[2018-05-24 14:36] C13L0 commented on #189
The new search gives document nodes. Example: Search student life for "travel"

[2018-05-24 14:37] jeppy64 opened #255 "Relativity Core Event Restructure"
Re-architect core event entity to use newest Drupal 8.5 date/time storage on Events, Event Days, Time Slots and Department Hours and deprecate old date/list text configs. On each site, once completed, all past events legacy field data will need to be migrated to new field storage. All existing event display views to be updated with newest relationships and architecture.

The following, existing ti

[2018-05-24 14:52] jeppy64 opened #256 "Relativity Core Event Restructure for Domain Specific Events"
Domain Specific events are:
<s>Academic Success Center: Tutor Schedule, Tutor Time Slot</s> This is being addressed in #233

Advising: University Partner Schedule, University Partner Event Day - Completed (get the map in sb1)
Athletics: Athletic Competition - Completed
Financial Aid: Financial Aid Calendar - Completed
Student Life: Organization Schedule - Completed
Equity Services: Programs - (no

[2018-05-24 15:05] C13L0 opened #257 "Add "Help" to Safety and Security"
Add help back to the main menu

[2018-05-24 15:32] C13L0 commented on #227
We will complete 1 & 2's completed then we will sit down and do a theming site audit of the main website.

[2018-05-24 15:45] C13L0 commented on #233
@jeppy64 @longc77 is going to attach a comp for you to go by. Please give me an estimate of how many hours.

[2018-05-24 17:12] C13L0 commented on #256
@jeppy64 As per our discussion, please make sure that core events remains in it's own view. Special configs per site should have their own view.

[2018-05-24 17:20] C13L0 commented on #256
Example:
https://admissions.phsc.edu/

![event-example](https://user-images.githubusercontent.com/3138019/40501190-29cc746a-5f55-11e8-8ec6-5fe16ec40c0d.png)

[2018-05-24 17:26] longc77 commented on #233
Hi @jeppy64 Here's a mock. It has some notes on it for theming @C13L0.
[in-=person tutoring mock page.pdf](https://github.com/phsc-edu/2018/files/2036456/in-.person.tutoring.mock.page.pdf)

[2018-05-24 17:31] C13L0 commented on #212
@jeppy64 This has been approved and signed off on

[2018-05-24 17:41] C13L0 commented on #254
@corey I'm going to list this one as 1. Feel free to change as needed

[2018-05-24 17:52] C13L0 commented on #233
@longc77 Excellent! Thanks 🗡

@jeppy64 Please take a look at the comp and provide an estimate of hours. This will be a new view block on https://academic-success.phsc.edu/services/person-tutoring

[2018-05-24 18:05] C13L0 opened #258 "Theme 404 page"
![404-page](https://user-images.githubusercontent.com/3138019/40503252-811ca324-5f5b-11e8-8f5b-24c5dee3e62d.png)

[2018-05-24 18:22] jeppy64 opened #259 "Relativity Athletics Restructure"
Based on Steve, Micheal and Tom's feedback since launch:

- Merge a sport schedule and their individual competition records into a single step rather than first creating competitions, then adding them to the schedule one by one.

- Merge a sport roster and their individual athletic profiles into a single step rather than first creating all the athletic profiles, then adding them one by one to thei

[2018-05-24 18:48] curtiskphsc opened #260 "content editing issue"
On the safety.phsc.edu sub domain, I have no option to edit the department hours node or add a new one.
![department-hours-issue](https://user-images.githubusercontent.com/28155245/40505112-3dc12554-5f61-11e8-968f-e0b320bfa127.JPG)

[2018-05-24 18:56] C13L0 commented on #260
@curtiskphsc This was a permissions issue, please try again!

[2018-05-24 19:06] jeppy64 commented on #195
Estimated time: 3 hours

[2018-05-24 19:06] curtiskphsc commented on #260
@C13L0 Thanks! Why is the edit layout different on Financial Aid department hours? Has a radio button for "closed" and it is all the way at the bottom after selecting your hours. The others have a drop down selector that is above the hours. These display properly when selecting closed nothing else populates. The other layout still shows the hours when selecting closed.

[2018-05-24 19:08] curtiskphsc opened #261 "ANSI characters"
![ansi-characters](https://user-images.githubusercontent.com/28155245/40506071-49f6559e-5f64-11e8-859b-b1052eba1274.JPG)

[2018-05-24 19:09] curtiskphsc commented on #261
![ansi-characters-2](https://user-images.githubusercontent.com/28155245/40506128-81e676dc-5f64-11e8-88e4-757e3637dbd5.JPG)

[2018-05-24 19:11] jeppy64 commented on #233
Looks cool. I love the idea. This site is a bit interesting as the way they asked for the data to be built (matching the old site). Instead of one person having many tutoring schedule records, it's currently set up the opposite where many tutoring schedules have one person which then makes a person show up many times due to the grouping.

Id much prefer to re-architect this so we go to one person

[2018-05-24 19:26] C13L0 commented on #233
@jeppy64 I'm good with that. We can set up a discovery meeting with Ben.

[2018-05-24 19:35] C13L0 commented on #261
This ticket is actually related to #248
When a user logs in, the title will auto correct. We are working at adding groups which will auto update every user on cron run.

[2018-05-24 19:38] C13L0 commented on #261
@jeppy64 Please confirm that this will be corrected once the sites can auto update on cron run. I know that Jan has fixed the issue on their end. The issue is that these particular users have not logged in since the MIS update.

[2018-05-24 20:11] #219 closed

[2018-05-29 12:44] C13L0 opened #262 "Evening Administration Revision 2 for May"
Subject: Evening Administration Revision 2 for May

Good Afternoon,

Attached is the second revision of the Evening Administrator Schedule for May. The change is for Spring Hill on May 30.

Wishing everyone a great 4 day weekend!

Jennifer Curtis

Interim Administrative Assistant I,

Dean of Academic Affairs and Institutional Accreditation

[2018-05-30 13:02] C13L0 commented on #262
From: Jennifer Curtis
Sent: Tuesday, May 29, 2018 12:04 PM
To: Jan Rodriguez; Tony Rivas; Lisandra Miranda; Kimberly Morris; William Shustowski Jr; Webmaster; Todd Staller; Timothy Beard; Sonia Thorn; Shelley Nappier; Shauna Kincade; Samuel Eshelman; Reggie Wilson; Raymond Calvert; Ralph Buglione; Patricia Campbell; Pamela Roberts; Natalie Epo; Mildred Diaz Santiago; Melissa Harts; Melanie Cooksey

[2018-05-30 13:05] C13L0 commented on #262
completed

[2018-05-30 13:05] #262 closed

[2018-05-30 13:08] C13L0 opened #263 "IMM 1-10"
From: Pamela Nadolski
Sent: Tuesday, May 29, 2018 09:58 AM
To: Webmaster
Subject: IMM 1-10

Please post the attached IMM 1-10 and the effective date is 5/14/2018.

Thank you,

Pam

Pamela A. Nadolski, FRP ACP
Advanced Certified Paralegal
Pasco-Hernando State College

[2018-05-30 13:14] C13L0 commented on #263
completed

[2018-05-30 13:14] #263 closed

[2018-05-30 13:28] C13L0 opened #264 "President's Institute"
From: Margie Burnham
Sent: Tuesday, May 29, 2018 04:47 PM
To: Webmaster
Cc: Sonia Thorn
Subject: Fw: President's Institute

Cielo,

This intranet page needs to be fixed:https://access.phsc.edu/administration/continuing-ed/presidentsinstitute.php

Here are my changes for now:

2019 President’s Institute

The PHSC President’s Institute is a program for selected PHSC faculty and staff who are interes

[2018-05-30 19:04] C13L0 commented on #256
Note to self: The approved estimate is included in ticket #255

[2018-05-30 19:08] C13L0 commented on #244
Note to self: The approved estimate is included in ticket #255

[2018-05-30 19:09] C13L0 commented on #3
Note to self: The approved estimate is included in ticket #259

[2018-05-30 19:17] C13L0 commented on #255
@jeppy64 We will not include past events as this only causes issues with the search and google index. Requesting 70 hours...

[2018-05-30 19:43] C13L0 commented on #209
Note to self: Estimate hours included into #255

[2018-05-30 19:50] C13L0 commented on #122
Removing estimate until #255 is completed

[2018-05-30 19:52] C13L0 commented on #177
Will request an estimate when #255 is completed

[2018-05-31 20:51] C13L0 opened #265 "Peace Week"
From: Jessica White
Sent: Thursday, May 31, 2018 04:21 PM
To: Webmaster
Cc: Laura Raposa; Sandre Lyons
Subject: Re: Peace Week

I need this to be a program on the website where we will have general information about the theme and other details (like keynote speakers and such).

We will enter individual events, but we need it to be added to the programs tab.

For Peace Week 2019, we will transition

[2018-05-31 20:53] C13L0 opened #266 "GAD Webform"
From: Laura Raposa
Sent: Thursday, May 31, 2018 11:47 AM
To: Webmaster
Cc: Jessica White
Subject: GAD Webform

Hi Cielo,

To follow-up to our conversation, we would like to/need to sort the registrations coming in on the website from Get Acquainted Day by campus.  Let me know if you need any additional information from me.  Thanks!

Kind Regards,

Laura Kelly Raposa

Coordinator of Student Life an

[2018-05-31 20:55] C13L0 opened #267 "IMM 3-4"
From: Pamela Nadolski
Sent: Thursday, May 31, 2018 11:33 AM
To: Webmaster
Subject: IMM 3-4

Please change the title for this IMM 3-4 on the list to:

Council on Academic Affairs (CAA)

Proposal Process

Thank you,

Pamela A. Nadolski, FRP ACP
Advanced Certified Paralegal

[2018-05-31 20:59] C13L0 opened #268 "FDI on Intranet"
From: Margie Burnham
Sent: Thursday, May 31, 2018 10:30 AM
To: Webmaster
Cc: Sonia Thorn; Melissa Harts; Stanley Giannet
Subject: Re: FDI on Intranet

Cielo,

Thank you so much for the clarification. Please then post the June 2018 Faculty Development Institute Newsletter on the Intranet Announcements.  We publish a newsletter at the end of each month.

See below responses to the Webmaster question

[2018-05-31 21:02] C13L0 commented on #216
From: Edith Buffington
Sent: Wednesday, May 30, 2018 11:10 AM
To: Webmaster
Subject: Cindy Bellamy Retirement Celebration

Changes to Cindy Bellamy Retirement Celebration -  New Date - June 25th, 2018.   New Location - Conference Center West Campus Bldg R-151.  Same time - 1-3 pm.  Celebrating 35 years services. RSVP to Rhonda Dodge at 3401 for this special occasion.

If we can post this as soon a

[2018-05-31 21:06] C13L0 opened #269 "Summer Department Hours"
From: Kevin Curtis
Sent: Wednesday, May 30, 2018 11:36 AM
To: Kim Williams
Cc: Webmaster
Subject: Re: Summer Department Hours

For reference, two screenshots. Academic Success Center-titled "Department hours"vs Financial Aid-titled "Business hours"

From: Kim Williams
Sent: Wednesday, May 30, 2018 8:04:17 AM
To: Kevin Curtis
Cc: Webmaster
Subject: Re: Summer Department Hours

Hello Cielo and Kevin

[2018-05-31 21:14] C13L0 commented on #259
From: Steve Winterling
Sent: Thursday, May 31, 2018 08:56 AM
To: Webmaster; jeppy64@gmail.com
Cc: Melissa Harts
Subject: Sport Web Pages

Cieo and Jay,

I notice on each of the sport pages that the "About the Coach" bios are shown twice.  Also seeing that as well on the "Season Recap" page for cross country.  Can this be fixed?

Steve Winterling

[2018-05-31 21:14] C13L0 commented on #259
From: Steve Winterling
Sent: Wednesday, May 30, 2018 05:29 PM
To: Webmaster; jeppy64@gmail.com
Subject: Cross Country 2018

The 2018 cross country fall roster and 2018 fall schedule have been created.  We just need to remove 2017 and add these new links.  I believe you have to do this.  Would that be correct?

Steve Winterling

[2018-05-31 21:15] C13L0 commented on #259
Cielo and Jay,

Is there any way we can link the camp/application forms together and also put a camp registration link on each sport page?  I'm getting several calls from people that can find the camp information, but not the applications and camp consent forms.  It is confusing.  Any help is appreciated.

Thanks,

Steve Winterling

[2018-05-31 21:15] C13L0 commented on #259
@jeppy64 Can you please update your estimate to include the following requests?

[2018-06-01 11:50] jeppy64 commented on #259
Hi Steve,

You're all set on the menu links from the 2017 season. Also good to go on the content showing twice when landing on sport's main page and recap page.

[2018-06-04 12:07] C13L0 opened #270 "Evening Administrator Schedule for June"
From: Jennifer Curtis
Sent: Monday, June 4, 2018 07:47 AM
Subject: Evening Administrator Schedule for June

Good Morning,

Attached is the Evening Administrator Schedule for June.

Thank you!

Jennifer Curtis

Interim Administrative Assistant I,

Dean of Academic Affairs and Institutional Accreditation

[2018-06-04 14:11] jeppy64 commented on #233
I looked into this one again. Due to the nature in which the data is flipped to match the old site, a single person is being added many times and also has many schedules so it's a bit of a mess. Alexis K is a great example, there's 22 of her - all different "short bio" snippets. Instead of using "add existing", they are creating a brand new Alexis for each schedule. So if she tutors 5 subjects thi

[2018-06-04 19:56] C13L0 opened #271 "Campus Budget Meetings"
From: Cynthia L Bellamy
Sent: Monday, June 4, 2018 03:10 PM
To: Webmaster
Subject: Campus Budget Meetings

This message is for posting on the Intranet.

Dr. Beard and Mr. Horn will be presenting the DBOT approved 2018-2019 budget to each campus. A handout will be provided at the meetings.  If you are unable to attend one of the meetings, extra copies of the handouts will be available in the Provos

[2018-06-04 21:36] curtiskphsc commented on #271
@C13L0 This is good to go. I only made style guide changes.
**Campus Budget Meetings**
Dr. Beard and Mr. Horn will be presenting the DBOT approved 2018-2019 budget to each campus. A handout will be provided at the meetings. If you are unable to attend one of the meetings, extra copies of the handouts will be available in the Provost's Office. Below is a schedule of the meetings:

Tuesday, June 19

[2018-06-04 22:16] C13L0 commented on #233
@jeppy64 Please post an estimate of approx hours for this project

[2018-06-04 22:17] C13L0 commented on #255
@jeppy64 Dr. Harts has approved for 70 hours for this ticket. We have tagged this as a priority 1, meaning it is top priority.

[2018-06-04 22:27] C13L0 commented on #210
@10yson @jeppy64 Dr. Harts has approved 3 hours for this ticket. It has been tagged as 1, meaning top priority. Please work this at the same time as events!!! 🗡

[2018-06-04 22:30] C13L0 commented on #249
@jeppy64 Dr. Harts has approved 4 hours for this ticket. It has been prioritized as 2. Please work on this after ticket 255 has been completed.

[2018-06-04 22:33] C13L0 commented on #215
@jeppy64 This has been approved for 3 hours this ticket. It has been given a priority of 2. Please complete after ticket 255 has been completed

[2018-06-04 23:04] C13L0 commented on #169
From: Webmaster
Sent: Monday, June 4, 2018 07:04 PM
To: John Fey; Jessica White; Karen Kielar
Cc: Robert E Bade; Melissa Harts
Subject: Re: SLR website | 169 | Awaiting further info

Good afternoon,

This is a reminder that I am not able to move forward and complete the site until I receive the requested information and graphics. It will take an additional 3-4 days to complete the site after it is

[2018-06-05 19:30] C13L0 commented on #270
completed

[2018-06-05 19:30] #270 closed

[2018-06-05 19:49] C13L0 commented on #269
@curtiskphsc This has been corrected. Spring hill has been updated. Please verify this is working as expected

[2018-06-05 20:07] C13L0 commented on #267
completed

[2018-06-05 20:12] #267 closed

[2018-06-05 20:18] C13L0 opened #272 "Directory"
From: Webmaster
Sent: Tuesday, June 5, 2018 04:16 PM
To: Gina Phillips
Subject: Re: Directory

Hi Gina,

Thank you for alerting us to this issue. The directory is updated every two hours through our HR system.  I spoke with Jan Scott (MIS) concerning the missing data and she is looking into it.

Cielo Johnson, webmaster
Pasco-Hernando State College
10230 Ridge Road
New Port Richey, FL 34654
727-81

[2018-06-05 20:29] C13L0 commented on #264
completed

[2018-06-05 20:29] #264 closed

[2018-06-05 20:34] curtiskphsc commented on #269
@C13L0 The only issue I see is that the word "Closed" is being forced to a second line. I assume that is because we are hiding the hour, minute, meridian-which is actually still there next to Friday, but just not being displayed. I am pleased that the information is now hidden :) It makes a world of difference as far as how it reads and presents to the visitor. Thanks!
![fin-aid-department-info-ho

[2018-06-05 20:36] C13L0 commented on #268
[june2018b.pdf](https://github.com/phsc-edu/2018/files/2073895/june2018b.pdf)

[2018-06-05 20:37] curtiskphsc commented on #260
@C13L0 Closing this as my last comment was addressed today in #269

[2018-06-05 20:37] #260 closed

[2018-06-05 20:48] curtiskphsc commented on #269
@C13L0 Sounds good.

[2018-06-05 20:55] C13L0 commented on #216
completed

[2018-06-05 20:55] #216 closed

[2018-06-05 21:12] C13L0 commented on #271
completed

[2018-06-05 21:13] C13L0 opened #273 "Advisor (Job # 0756) - INTERNAL"
Cielo,

Please post this position announcement under “Internal Vacancies” on our Access (intranet) home page, and provide a link to the online application for this internal position.

Thanks…Pat

Job #: 0756

Position: Advisor (Internal Vacancy)

Location: Porter Campus at Wiregrass Ranch

Application deadline: June 13, 2018

JOB DESCRIPTION: YES

SUMMARY OF BENEFITS: YES

[2018-06-05 21:14] curtiskphsc commented on #268
@C13L0 I drafted a bit of copy for this. Please have it reviewed before posting. Also, they have at least one broken link in the pdf. The "Inside Higher Ed free subscription link" is not working. Looks like they truncated the actual hyperlink. Please link the pdf (after link correction) to the applicable text in the last line.
**June 2018 Faculty Development Institute Newsletter**
The June 2018 is

[2018-06-06 12:38] C13L0 commented on #268
@curtiskphsc The link works fine for me...

------
From: Margie Burnham
Sent: Tuesday, June 5, 2018 05:40 PM
To: Webmaster
Cc: Sonia Thorn
Subject: Re: FDI on Intranet | 268 | Awaiting further info

Thank you so much.  I really like the verbiage that Marketing created.
I cannot fix the link.  Apparently there is a problem with the hyperlink and our server allowing such.  I've attached the new file

[2018-06-06 12:40] C13L0 commented on #269
From: Kim Williams
Sent: Tuesday, June 5, 2018 07:07 PM
To: Webmaster
Subject: Re: Summer Department Hours | 269 | For review

Hello Cielo;

Thank you for your assistance!  All Financial Aid Offices are closed on Fridays for college summer hours. Unfortunately, I am not able to work on the web pages at this time. We are in full fall awarding and processing status and that is consuming all of my ti

[2018-06-06 12:40] C13L0 commented on #269
@curtiskphsc Can you take care of this for her?

[2018-06-06 12:45] C13L0 opened #274 "Theme department business hours"
@longc77 @curtiskphsc I'm tagging this as a 3 but we can discuss it when we next meet =)

![department-business-hours](https://user-images.githubusercontent.com/3138019/41038923-db0c0816-6965-11e8-9273-2f513b871a8f.png)

[2018-06-06 12:58] C13L0 commented on #273
completed

[2018-06-06 12:58] #273 closed

[2018-06-06 13:11] C13L0 commented on #257
@curtiskphsc This has been completed.

[2018-06-06 13:12] C13L0 commented on #257
Assigning to @curtiskphsc to work with David on https://safety.phsc.edu/help

[2018-06-06 13:15] C13L0 commented on #251
- [ ]  Academic Success Center
- [ ]  Admissions
- [ ]  Advising
- [ ]  Athletics
- [ ]  Career Services
- [ ]  Educator Preparation Institute
- [ ]  eFaculty Support
- [ ]  Equity Services
- [ ]  eStudent Support
- [ ]  Financial Aid
- [ ]  Financial Services
- [ ]  Foundation
- [ ]  Legal Department
- [ ]  Marketing
- [ ]  Office of Disabilities
- [ ]  Safety and Security
- [ ]  Student Life
- [

[2018-06-06 13:17] curtiskphsc commented on #269
@C13L0 This is done. Thanks again for working on the changes.

[2018-06-06 13:20] curtiskphsc commented on #268
@C13L0 Link works now. This is good to go as far as I am concerned.

[2018-06-06 15:32] C13L0 opened #275 "LDAP not able to remove some users"
@jeppy64  Troubleshooting that we did this morning (1 hour). Marking this as a 1 as it is top priority behind # 255 (events).

We are not able to make any changes to a user once their active directory account has been deactivated.

Ideally, when a users ldap account is deactivated, drupal should delete the account and keep all of it's content.

For testing purposes:
efaculty.phsc.edu
user: watsonn

[2018-06-06 17:37] C13L0 commented on #268
completed

[2018-06-06 17:37] #268 closed

[2018-06-06 17:51] curtiskphsc commented on #269
@C13L0 I checked all of the other sub domains to make sure summer hours were displaying and I noticed they do not roll "Closed" to a second line. If it is a theming issue, it appears that only financial aid's sub domain is doing it.
![business-hours](https://user-images.githubusercontent.com/28155245/41055892-73375882-6990-11e8-9fe4-0028f7c64562.JPG)

[2018-06-06 18:13] curtiskphsc commented on #159
@C13L0 You should check with Dean Thorn but as far as I know this is 100% regarding the 2018-19 Catalog. All links were updated a few weeks ago. The 2017-18 and 2015-16 Catalogs still need to be fixed though.

[2018-06-06 18:18] curtiskphsc commented on #179
@C13L0 I am closing this. Dean Thorn was to work with Admissions directly as I do not have access to the current articulation agreements.

[2018-06-06 18:18] #179 closed

[2018-06-06 18:19] curtiskphsc commented on #257
David and I are supposed to be meeting soon to discuss this. Waiting for a meeting confirmation.

[2018-06-06 20:13] C13L0 opened #276 "Forms and Downloads accessibility document request"
For better usability and accuracy, add dropdown that auto populates all current documents.

<img width="720" alt="select-document" src="https://user-images.githubusercontent.com/3138019/41062728-add52a32-69a4-11e8-8fb5-9e2e92bcdf48.png">

[2018-06-06 20:15] C13L0 commented on #250
completed

[2018-06-06 20:15] #250 closed

[2018-06-06 21:10] C13L0 commented on #276
**Element**
Entity Select

**Machine name**
document

**Entity Reference Settings**
Type of item to reference: Content
Reference method: Default
Content type: Document

[2018-06-06 21:15] C13L0 commented on #276
- [ ]  Academic Success Center
- [ ]  Admissions
- [ ]  Advising
- [ ]  Athletics
- [ ]  Career Services
- [ ]  Educator Preparation Institute
- [ ]  eFaculty Support
- [ ]  Equity Services
- [ ]  eStudent Support
- [ ]  Financial Aid
- [ ]  Financial Services
- [ ]  Foundation
- [ ]  Legal Department
- [ ]  Marketing
- [ ]  Office of Disabilities
- [ ]  Safety and Security
- [ ]  Student Life
- [

[2018-06-07 12:05] C13L0 opened #277 "Newsletter Link on the Intranet"
From: Rakesh Shah
Sent: Thursday, June 7, 2018 07:54 AM
To: Webmaster
Subject: Newsletter Link on the Intranet

hi webmaster,

Can you please post a link a Intranet for the MIS newsletter for the month of May-June 2018?

Thank you,

Rakesh Shah
Associate Director, MIS
Pasco-Hernando State College
10230 Ridge Road
New Port Richey , FL 34654

[2018-06-07 12:09] C13L0 commented on #124
@jeppy64 This ticket is related to #255
Is there anything that I need to do on my end such as installing any special modules?

[2018-06-07 12:16] jeppy64 commented on #124
Should be good to go with D8 core REST endpoint views and the "now in core" Migrate module and Migrate UI. Without any unplanned gotchas, we should be fine. If this proof of concept works as I am planning, it's going to become a very strong and widely used option for all sites moving forward both for the mobile app and staging and deploying shared content in pre-defined directions.

[2018-06-07 20:01] C13L0 commented on #276
All sites have been updated

[2018-06-07 20:01] #276 closed

[2018-06-07 20:02] C13L0 commented on #251
@curtiskphsc All sites have been updated. Please feel free to close after verifying everything is correct.

[2018-06-07 20:05] C13L0 opened #278 "Core and module updates"
Update to Drupal 8.5.4, Updated JSON API (jsonapi) from 8.x-1.18 to 8.x-1.19, Updated Webform (webform) from 8.x-5.0-rc12 to 8.x-5.0-rc14.

- [x]  Academic Success Center
- [x]  Admissions
- [x]  Advising
- [x]  Athletics
- [x]  Career Services
- [x]  Educator Preparation Institute
- [x]  eFaculty Support
- [x]  Equity Services
- [x]  eStudent Support
- [x]  Financial Aid
- [x]  Financial Services

[2018-06-07 20:05] C13L0 commented on #278
All websites have been updated

[2018-06-07 20:05] #278 closed

[2018-06-07 21:13] C13L0 opened #279 "Google analytic access"
Give Christine Smith google analytic access to efaculty, estudent, and the writing center

[2018-06-07 21:35] curtiskphsc commented on #251
1. Academic Success Center-Instagram URL has unecessary / at the end
2. Athletics has LinkedIn and Instagram transposed. Need their locations flip flopped. On all other sub domains LinkedIn is far right icon.
![flipped-icons](https://user-images.githubusercontent.com/28155245/41127464-0630980e-6a79-11e8-8764-15637849877c.JPG)

[2018-06-12 13:23] curtiskphsc commented on #191
Benjamin Schultze agreed with the link change and reworked the textual description. Closing this ticket.

[2018-06-12 18:32] C13L0 opened #280 "S10,000 Baccalaureate Webpage"
From: Sonia Thorn
Sent: Tuesday, June 12, 2018 01:44 PM
To: Webmaster
Cc: Stanley Giannet; Chiquita Henderson
Subject: S10,000 Baccalaureate Webpage

Dear Cielo,

https://www.phsc.edu/academics/10000-baccalaureate-degree

Please update this page to state for more information about enrolling, please contact Student Affairs at https://advising.phsc.edu/services/academic-coaching.

[2018-06-12 19:43] curtiskphsc commented on #280
@C13L0 Completed and ready for review.

[2018-06-13 18:13] curtiskphsc opened #281 "Condolences"
@C13L0 Please post this today if possible. He passed on Sunday.

**Condolences**
It is with great sadness that we announce the recent passing of longtime PHSC employee Christopher (Chris) Wilt. Chris, a production engineer, was employed at PHSC for 17 years and was a tireless advocate for the staff, faculty, and students. He will be sorely missed. We extend our condolences to his family, friends,

[2018-06-13 21:47] C13L0 commented on #280
completed

[2018-06-13 21:47] #280 closed

[2018-06-13 21:48] C13L0 commented on #271
From: Cynthia L Bellamy
Sent: Wednesday, June 13, 2018 12:50 PM
To: Webmaster
Subject: Fw: Another Location Change to Campus Budget Meeting

Sorry that I was confused about where to send a message. Here is the one I sent to you on Monday.

Thank you!

From: Cynthia L Bellamy
Sent: Monday, June 11, 2018 9:02 AM
To: Cielo Johnson; Kevin Curtis
Subject: Another Location Change to Campus Budget Meetin

[2018-06-13 21:52] C13L0 commented on #277
completed

[2018-06-13 21:52] #277 closed

[2018-06-13 21:57] C13L0 commented on #281
@curtiskphsc completed

[2018-06-13 22:10] C13L0 commented on #271
completed

[2018-06-13 22:10] #271 closed

[2018-06-19 12:16] C13L0 opened #282 "Cafe's summer vacation"
From: John Collins
Sent: Wednesday, June 13, 2018 11:29 AM
To: Melissa Rushton; Cielo Johnson
Cc: Brian Horn; Roy Honaker
Subject: Cafe's summer vacation

Hello all
If you would be so kind to post that the WC Cafe' will be taking their annual vacation July 27th
through  Aug 12th 2018. At that time they will be closed.

 Aug 13th to Aug 17th the WC Café will reopen from 8AM to 2PM
After Aug 19th th

[2018-06-19 12:52] curtiskphsc commented on #282
@C13L0 Please have this reviewed before posting.
**PHSC Café Summer Vacation**
The PHSC Café at West Campus will be closed for their annual summer vacation Friday, July 27 through Sunday, August 12. The Café will reopen Monday, August 13 with 8 a.m. to 2 p.m. operating hours through Friday, August 17. Normal business hours will resume on Monday, August 20.

[2018-06-20 16:28] curtiskphsc commented on #281
@C13L0 I am going to create a new announcement and ticket for the memorial service details. I thought this was still visible but I see it has dropped.

[2018-06-20 16:28] #281 closed

[2018-06-20 17:13] curtiskphsc opened #283 "Chris Wilt Memorial Service"
**Chris Wilt Memorial Service**
A memorial service for Chris Wilt will be held at the West Campus in the Conference Center (R) on Monday, July 2, from 7 to 8 p.m.

[2018-06-20 19:14] C13L0 commented on #283
Completed

[2018-06-21 15:20] C13L0 commented on #282
This will post on 7-1-2018

[2018-06-21 15:20] #282 closed

[2018-06-21 18:55] curtiskphsc opened #284 "New PHSC Wireless Network"
**New PHSC Wireless Network**
A better, faster, easier PHSC wireless network is coming this summer.
Visit the [PHSC website](https://phsc.edu/about-phsc/news/announcement/new-phsc-wireless-network-coming-summer) for details.

[2018-06-21 18:58] 10yson commented on #210
@jeppy64 Please see attached for some initial test results taken on 6/19. Thanks.

[JsonEventFeedTesting-20180619.pdf](https://github.com/phsc-edu/2018/files/2124969/JsonEventFeedTesting-20180619.pdf)

[2018-06-21 20:31] curtiskphsc commented on #283
The deceased's loved ones have requested that we update this with the following details.

In lieu of flowers, donations are requested for either the The Humane Society of the United States or Eckerd Connects.

[2018-06-21 21:00] C13L0 commented on #284
completed

[2018-06-21 21:00] #284 closed

[2018-06-21 21:11] C13L0 commented on #283
completed

[2018-06-21 21:11] #283 closed

[2018-06-25 16:31] C13L0 opened #285 "(June) Athletic Camp Forms and Downloads"
@jeppy64 can you please take a look at Athletics document permissions? They should all be able to upload and delete documents.

From: Steve Winterling
Sent: Monday, June 25, 2018 10:41 AM
To: Webmaster
Subject: Fw: Athletic Camp Forms and Downloads

Steve Winterling

Athletic Director/Head Baseball Coach

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

727-816-3362 (offi

[2018-06-25 16:57] C13L0 opened #286 "Intranet Posting"
From: Margie Burnham
Sent: Thursday, June 21, 2018 04:15 PM
To: Webmaster
Cc: Sonia Thorn
Subject: Intranet Posting

Webmaster,

Is the request for the intranet or main phsc.edu website? INTRANET
Announcement title:  2018-2019  Faculty Development Institute Program Catalog
Announcement message
2018-2019  Faculty Development Institute Program Catalog.

The Office of Professional Development and Con

[2018-06-25 17:05] jeppy64 commented on #285
should be good to go.... give it a whirl

[2018-06-26 15:13] curtiskphsc commented on #286
@C13L0 I changed this ever so slightly based on the official PHSC style guide page 14 "**telephone numbers** Correct form for on-campus telephones: Call 7581 for more information." We are not to use the word "extension" when referring to internal phone numbers. Other than that, run it.

**2018-2019 Faculty Development Institute Program Catalog**
The Office of Professional Development and Continuin

[2018-06-27 15:00] C13L0 commented on #169
All graphics and frontend development completed. Once the content has been completed by Student Life, then we will push live to leadership-retreat@phsc.edu

[2018-06-27 15:27] curtiskphsc opened #287 "Financial Aid Sub Domain Issue"
Received a revision notice on this node yesterday at 4:03 pm. The revision request was "Please delete" as highlighted in the first screen shot. I deleted the node shortly thereafter. Now, this morning, that revision log entry is gone and the deleted node has come back. See screen shot 2.
![revision-log-missing-node-112](https://user-images.githubusercontent.com/28155245/41983674-d67492d0-79fc-11e8

[2018-06-27 15:31] C13L0 commented on #287
@curtiskphsc Please delete the node again. I'm not sure what you want me to do.

[2018-06-27 15:37] curtiskphsc commented on #287
@C13L0 I ma only passing it along as a ticket as you request I do so when issues arise. I find it concerning that something reverted without our knowledge.

[2018-06-28 14:50] 10yson commented on #210
@jeppy64 - I updated the 6/19 test results document to also include Modo's feedback for End Date and All Day test cases.

[JsonEventFeedTesting-20180619-v2.pdf](https://github.com/phsc-edu/2018/files/2145760/JsonEventFeedTesting-20180619-v2.pdf)

[2018-06-29 12:31] jeppy64 commented on #190
I think we have a module not playing nicely with another module situation. End result is menu links are fine due to core menus and the menu link attributes module. But a non-menu link (such as a CTA or Quick Link) is being ignored by the external links module (outputs the little mini mailto and arrow icons). This also means any view rendering an external link is having the same issue. My gut feeli

[2018-07-02 15:03] 10yson commented on #210
@jeppy64 - Please contact me (10yson) before you spend time on handling a blank end date scenario for this json feed or an "all day" scenario.  Thanks.

[2018-07-02 18:39] C13L0 opened #288 "Intranet Announcement Request"
Submitted PDF is blurry and upside down. Waiting for new pdf that is readable.

-------

From: Carla Rossiter-Smith
Sent: Wednesday, June 20, 2018 07:28 AM
To: Webmaster; Cielo Johnson
Cc: Sonia Thorn
Subject: Intranet Announcement Request

Hello Cielo,

I would like to request that the announcement below be posted to the intranet as soon as possible.  Please note that the announcement should incl

[2018-07-02 18:43] C13L0 opened #289 "AFC Bylaws Update"
From: Kathy MacLenna
Sent: Wednesday, June 20, 2018 11:37 AM
To: Webmaster
Subject: AFC Bylaws Update
 Hello,

Attached is an updated version of the AFC Bylaws.  Please replace in the internal site.

http://internal.phsc.edu/afc/f/bylaws.pdf

Thank you,

Kathy

[2018-07-02 19:53] C13L0 opened #290 "Link for Fall Term 2019-1"
@curtiskphsc
After meeting with Christine, concerning this ticket, it was decided the efaculty website will hold content and events for faculty and adjuncts. The content will not be specific to the e part of efaculty which Christine says is misleading. She is working on who will have access to this site and will let me know in the near future. In the meantime, please add this event to efaculty sit

[2018-07-02 20:03] C13L0 opened #291 "February Newsclips"
- [ ] February 2018

[February_Newsclips.zip](https://github.com/phsc-edu/2018/files/2156640/February_Newsclips.zip)

--------

From: Tracy Horn
Sent: Thursday, June 21, 2018 03:33 PM
To: Webmaster
Subject: February Newsclips

Good afternoon,

 Please upload the following news clips to the intranet under marketing.

Thank you 😊

[2018-07-02 20:14] C13L0 commented on #291
March 2018
[March_2018_Newsclips.zip](https://github.com/phsc-edu/2018/files/2156664/March_2018_Newsclips.zip)

[2018-07-02 20:14] C13L0 commented on #291
April 2018
[April_2018Newsclips.zip](https://github.com/phsc-edu/2018/files/2156667/April_2018Newsclips.zip)

[2018-07-02 20:15] C13L0 commented on #291
- [ ] May 2018

[May_2018_Newsclips.zip](https://github.com/phsc-edu/2018/files/2156669/May_2018_Newsclips.zip)

[2018-07-02 20:18] C13L0 commented on #288
@curtiskphsc Here is the updated pdf
[Class Climate FAQs.pdf](https://github.com/phsc-edu/2018/files/2156680/Class.Climate.FAQs.pdf)

[2018-07-02 20:22] C13L0 opened #292 "IMM 3-5, IMM 2-35, IMM 3-35"
- [ ] IMM 3-5.  Effective date is 4/30/18

- [ ] This is a new IMM.  Please add IMM 2-35 and the title is: Procedures for Death Notification of a Current Employee. The effective date is 5/14/2018

- [ ] IMM 3-35.  The effective date is 5-29-2018.

[2018-07-02 20:24] C13L0 opened #293 "Computer Lab Summer Hours"
From: Matthew Neadly
Sent: Wednesday, June 27, 2018 08:15 AM
To: Webmaster
Subject: Computer Lab Summer Hours

URL: https://phsc.edu/about-phsc/departments

The hours under the computer lab section should be

SH Campus
Monday - Thursday 8:00AM - 6:00PM
Closed Friday
East Campus
Monday - Thursday 9:00AM - 7:00PM
Closed Friday
Porter Campus
Monday - Thursday 8:00AM - 6:00PM
Closed Friday
West Campus

[2018-07-02 20:30] C13L0 opened #294 "Intranet Posting"
From: Margie Burnham
Sent: Thursday, June 28, 2018 12:33 PM
To: Webmaster
Cc: Sonia Thorn
Subject: Intranet Posting

Cielo,

Is the request for the intranet or main phsc.edu website? INTRANET
Announcement title:  July 2018 FDI Newsletter
Announcement message:
The July 2018 FDI Newsletter features an update from our Quality Enhancement Plan (QEP) Directors, a message regarding EduTech, NISOD Confer

[2018-07-02 20:38] C13L0 opened #295 "Medical Scribe Project"
From: Margie Burnham
Sent: Thursday, June 28, 2018 04:03 PM
To: Webmaster
Cc: Sonia Thorn; Lucy Miller
Subject: Medical Scribe Project

Cielo,

Is the request for the intranet or main phsc.edu website? Internet - Sub-page to continuing education
Announcement title:  Continuing Education Medical Scribe Program
Announcement message
Marketing is developing the content.
Attach any associated file atta

[2018-07-02 21:02] C13L0 opened #296 "(June) Foundation Golf Event"
@jeppy64 Please remove document double moderation. Also remove "Add new" and replace with "Add existing".

<img width="535" alt="double-moderation" src="https://user-images.githubusercontent.com/3138019/42186190-a532a66e-7e19-11e8-90ed-7d9b0f10a62a.png">

-----------

From: Jessica Staller
Sent: Monday, July 2, 2018 09:03 AM
To: Webmaster
Subject: Foundation Golf Event

Hi Cielo,

I was trying to

[2018-07-02 21:08] C13L0 opened #297 "Posting for the Intranet - East Campus"
From: Courtney Benito
Sent: Monday, July 2, 2018 04:15 PM
To: Webmaster
Cc: Lisa Richardson
Subject: Posting for the Intranet - East Campus

Is the request for the intranet or main phsc.edu website?: Intranet
Announcement title: Employee Anniversary Celebration
Announcement message: Join the East Campus in celebrating our Employees' many years of success.
Attach any associated file attachment(s) i

[2018-07-02 21:22] curtiskphsc commented on #295
@C13L0
@longc77 and Courtney Boettcher had a very lengthy conversation with Margie regarding this. As they need to collect payment for the classes and register students, Margie is currently discussing this project with Jan Scott as well. Corey can provide a bit more insight into the particulars.

[2018-07-02 21:28] C13L0 commented on #259
Just want to make sure this doesn't get forgotten:
Steve Winterling
Thu 5/31, 08:56 AM
Webmaster;jeppy64@gmail.com;Melissa Harts
Cieo and Jay,

I notice on each of the sport pages that the "About the Coach" bios are shown twice.  Also seeing that as well on the "Season Recap" page for cross country.  Can this be fixed?

Steve Winterling
Athletic Director/Head Baseball Coach
Pasco-Hernando State Co

[2018-07-02 21:43] C13L0 commented on #265
completed
https://student-life.phsc.edu/programs/peace-week

[2018-07-02 21:43] #265 closed

[2018-07-03 15:05] C13L0 opened #298 "PHSC Foundation: Needs review - PHSC Foundation Welcomes New Board Member"
From: Jessica Staller
Sent: Tuesday, July 3, 2018 10:48 AM
To: PHSC Webmaster
Subject: Re: PHSC Foundation: Needs review - PHSC Foundation Welcomes New Board Member

This photo needs to be included with the news item below. It is too large for me to attach online and I do not have the appropriate graphic tools to adjust. Thank you

From: PHSC Webmaster
Sent: Tuesday, July 3, 2018 10:46 AM
To: Webm

[2018-07-03 15:06] C13L0 commented on #298
@curtiskphsc @longc77 I wasn't sure who to assign this to =)

[2018-07-03 16:09] curtiskphsc commented on #298
@C13L0  completed

[2018-07-03 16:46] jeppy64 commented on #285
15 minutes to complete

[2018-07-03 17:43] curtiskphsc commented on #297
@C13L0 This event is in October. Also, Courtney did not provide a building designation/location. It just says East Campus, so we need to know what building/room it will be held in.

[2018-07-03 17:50] curtiskphsc commented on #294
Minor changes due to style guide compliance. Specifically the phone extension portion again.

**Faculty Development Institute Newsletter—July 2018**
The July 2018 Faculty Development Institute Newsletter features an update from our Quality Enhancement Plan (QEP) directors, a message regarding EduTech, NISOD Conference, Fall faculty meetings, and more.

Should you have any questions or feedback abo

[2018-07-03 17:51] curtiskphsc commented on #294
Don't forget to add the pdf as a hyperlink at the end :)

[2018-07-05 14:56] curtiskphsc opened #299 "Cafe Closed Today"
@C13L0 If possible, please post this today.

**Cafe Closed**
The PHSC Cafe is closed today, Thursday, July 5, and will reopen on Monday, July 9.

[2018-07-05 18:13] curtiskphsc commented on #293
@C13L0 completed

[2018-07-05 18:19] curtiskphsc commented on #295
@C13L0 The request is, from what I understand, to create at least one child page under the current parent page "Continuing Education."
a) Is this currently possible?
b) Is this what you would recommend?

The visitor would eventually have to be directed to the _actual_ Continuing Education registration page here https://cpnta.phsc.edu/conted/(S(4xdjekdbgnjngoyirqmnnjgi))/english/cetrm.aspx to regis

[2018-07-05 19:02] curtiskphsc commented on #290
@C13L0 I am a bit confused as to why I am being asked to create this content as
a) the Academic Technology department is the sub domain owner and
b) they have several employees listed as "Department Editor"

[2018-07-09 15:02] jeppy64 commented on #172
I never updated this. All sites completed.

Time: 1/2 hour

[2018-07-09 15:03] jeppy64 commented on #296
Completed

[2018-07-09 15:05] jeppy64 commented on #176
Completed

Time: 1/2 hour

[2018-07-09 17:04] 10yson commented on #210
@jeppy64 - Hi Jay.  Please connect with me **_in Slack to send me the link_** for the event JSON feed you worked on last week.  I'm unable to find it.  Was it on the Advising site or Academic Success Center site or ??

[2018-07-09 17:54] C13L0 commented on #299
@curtiskphsc I was on vacation when the request was made. Closing ticket

[2018-07-09 17:54] #299 closed

[2018-07-09 18:14] Computerrat commented on #291
All months through May 18 have been posted. Completed

[2018-07-09 18:14] #291 closed

[2018-07-09 19:11] Computerrat commented on #294
Completed

[2018-07-09 19:11] #294 closed

[2018-07-09 20:10] Computerrat commented on #289
Emailed Kathy to request further information on July 9, 2018

[2018-07-09 20:59] 10yson commented on #210
@jeppy64 - Cielo was able to provide me with the updated JSON link.  Unfortunately, the date fields are still an issue.  I'm at the point in this development phase where I'd like to consider some other options.  I'll discuss more with Cielo.

[2018-07-10 14:09] 10yson commented on #210
@jeppy64 - Is it possible to create an RSS feed of the events?  In the RSS I'm hoping you could provide

<title> = the event title
<description> = concatenation of event dates, location, event body.

[2018-07-10 14:13] 10yson commented on #210
Examples:

Stanford
http://events.stanford.edu/xml/rss.xml

Georgia Tech
http://www.calendar.gatech.edu/feeds/academic-calendar.xml

[2018-07-10 16:08] 10yson commented on #210
I tested the concat RSS file.  Thank you.  I think this will work if we can address the feedback items below.

Feedback:
- In the RSS \<title\> field, please remove the \<a\> HTML tag.  Just use the plain text of the event title.
- In the RSS \<dc:creator\> field (i.e. author), please remove the \<a\> HTML tag.  Just use the plain text of event author.
- In the RSS \<description\> field:
  - for t

[2018-07-11 01:16] C13L0 commented on #292
@Computerrat Assigning this to you =)

[2018-07-11 01:17] C13L0 commented on #292
@Computerrat Files are in webmaster email as they shouldn't be posted publicly

[2018-07-11 02:18] Computerrat commented on #297
I am so sorry about that. This will be held in room A-240, Conference Center.

Thanks,

Courtney Benito
Senior Office Assistant, Faculty Support, East Campus
Pasco-Hernando State College
36727 Blanton Road
Dade City, FL 33523
Phone: 352-518-1314
Fax: 352-518-1225

[2018-07-11 11:22] jeppy64 commented on #210
Hi Mark,

Please go ahead and check if I got all your points mentioned. I think you're good to go.

[2018-07-11 12:48] longc77 commented on #295
@C13L0 @curtiskphsc per an impromptu meeting with Cielo 7/10, Cielo agrees that this is not content for the Marketing homepage or campaign material. The best and correct way to do this is for them to have their own subdomain. Cielo said basing it off of the Student Life subdomain is what she'd do and we'd just have to let her know in this ticket when we're ready.

Marketing will relay this to Marg

[2018-07-11 12:48] C13L0 commented on #297
Assigning to @curtiskphsc for the intranet message

[2018-07-11 12:50] C13L0 commented on #290
@curtiskphsc Please work with Academic Technology the same as you work with other departments on their website content.

[2018-07-11 12:51] longc77 commented on #295
@C13L0 do you have to add Courtney so I can tag her or can I? @boettcc is her user name. TY

[2018-07-11 13:31] jeppy64 commented on #210
@10yson  @C13L0
One last mention:
I removed the old test feed and the new one is at:
https://dev-phsc-marketing.pantheonsite.io/rss-out/events

[2018-07-11 13:57] jeppy64 commented on #296
@C13L0 Completed

[2018-07-11 13:58] jeppy64 commented on #285
@C13L0 Completed

[2018-07-11 13:59] jeppy64 commented on #172
@C13L0 Completed

[2018-07-11 16:59] Computerrat commented on #286
Completed

[2018-07-11 16:59] #286 closed

[2018-07-11 17:22] Computerrat commented on #288
Completed

[2018-07-11 17:22] #288 closed

[2018-07-11 19:12] Computerrat commented on #289
completed

[2018-07-11 19:12] #289 closed

[2018-07-11 19:58] Computerrat commented on #298
copmpleted

[2018-07-11 19:58] #298 closed

[2018-07-11 20:51] Computerrat commented on #293
completed

[2018-07-11 20:51] #293 closed

[2018-07-11 20:56] C13L0 commented on #295
Assigning to @boettcc as requested by @longc77

[2018-07-11 21:05] Computerrat opened #300 "Updates for Marketing Services Request"
Hi Cielo,

Marketing has been working with Mark Tennyson on a new Marketing Services Request in Sharepoint. We are going to use this request method going forward for marketing services request, including Intranet Announcements. Attached is a document outlining the link and information changes we would like to the intranet, as well as an intranet announcement request with approved copy.

In a meeti

[2018-07-11 21:05] 10yson commented on #210
@10yson @C13L0
Thanks, Jay.  I was able to successfully consume this feed in the mobile app.  And Cielo, thanks for the additional formatting.  I showed the solution to Dr. Harts.  She thought it was good but she wants to see a few more refinements to the formatting before approving.  I'll share the feedback with Cielo in the next day or so.  Thanks again.

[2018-07-12 11:02] jeppy64 commented on #210
@10yson @C13L0
Cool Mark, excellent news!

[2018-07-12 15:09] 10yson commented on #210
@jeppy64 @C13L0

Please make the following two changes

- [ ] (1) Please make a separate RSS feed (at least on the Marketing site) that is a filtered list of "Deadline" events

- [ ] (2) Please make the following changes to the content inside the RSS \<description\> area.

- Add a line break after the date
- Add a "Building: " label in front of building
- Add a "Room: " label in front of room
- Ad

[2018-07-12 17:58] 10yson commented on #210
Test results look great!  Thank you both.  I look forward to implementing these feeds once they are promoted to production.

[2018-07-16 18:29] Computerrat opened #301 "Intranet Message Request"
Good Afternoon,

Career and Testing Services would like to submit the following message to be announced on the intranet:

Please join Career and Testing Services in wishing Kate Planer well as she retires! Cake and refreshments will be served on July 31 from 2:00-4:00 in room B-109. Please stop in and celebrate Kate's retirement!

Please, let me know if any additional information is needed.

Thank

[2018-07-16 20:16] Computerrat commented on #301
Closing ticket due to new intranet protocol.

[2018-07-16 20:16] #301 closed

[2018-07-16 20:49] C13L0 commented on #290
@curtiskphsc @boettcc

Joyce Myers called and is taking a new position in West Campus. She would like to mail out the letters as soon as possible so everything will be in order for the person that is hired to take her place.

[2018-07-17 10:15] C13L0 commented on #287
This issue cannot be replicated for troubleshooting. Closing

[2018-07-17 10:15] #287 closed

[2018-07-17 13:03] Computerrat opened #302 "IMM 1-2 and IMM 1-35"
Cielo,

Please post these two IMMs as soon as possible. They are both effective 6/11/2018.

Thank you,

Pam

Pamela A. Nadolski, FRP ACP
Advanced Certified Paralegal
Pasco-Hernando State College
10230 Ridge Road
New Port Richey, FL 34654
Phone: 727-816-3746
Fax: 727-816-3450
Email: nadolsp@phsc.edu

PHSC is operating on a summer schedule and closed on Fridays through August 10.

[2018-07-18 15:13] Computerrat opened #303 "May 2018 Newsclips"
Good afternoon,

Can you add the last week of May to the intranet.  I inadvertently didn't attach it.

Thank you

Tracy Horn
Marketing Assistant
10230 Ridge Road
New Port Richey, FL 34654
(727) 816-3467
hornt@phsc.edu

Please Note:  The college is operating under summer hours and is closed on Fridays.

1515768890338_PastedImagePasco-Hernando State College

[2018-07-18 15:31] Computerrat opened #304 "Intranet Announcement - Kate's Retirement"
Good morning,

Please post this marketing approved announcement on the intranet homepage:

Celebrate Kate Planer's Retirement. Please join Career and Testing Services in wishing Kate Planer well as she retires! Cake and refreshments will be served on July 31 from 2-4 p.m. at the West Campus in room B-109. Please stop in and celebrate Kate's retirement!

Post -- as soon as possible
Pull -- July 31

[2018-07-18 15:39] Computerrat commented on #304
Completed

[2018-07-18 15:39] #304 closed

[2018-07-18 17:19] Computerrat commented on #302
Completed.

[2018-07-18 17:19] #302 closed

[2018-07-23 12:37] C13L0 commented on #290
@curtiskphsc @boettcc I'm moving this to "Rush"

[2018-07-23 16:27] C13L0 opened #305 "Admin Directory"
@curtiskphsc @boettcc

As per the issue below, Administrators need to be added back to the Administration Directory. https://info.phsc.edu/directory/administration

As soon as @jeppy64 has completed Events ticket #255 he will begin working with MIS on ticket #215 to make the Administration directory automated.

-----------------

From: Janice L Scott
Sent: Monday, July 23, 2018 10:27 AM
To: Cielo

[2018-07-23 16:31] C13L0 commented on #305
@curtiskphsc @boettcc
Marking this as "Rush" due to high visibility

[2018-07-23 16:37] Computerrat commented on #272
Completed

[2018-07-23 16:37] #272 closed

[2018-07-23 16:41] C13L0 commented on #290
@curtiskphsc @boettcc

Joyce called this morning and has requested the event url as quickly as possible. Wednesday will be her last day at North Campus.

[2018-07-23 16:41] C13L0 commented on #290
From: Webmaster
Sent: Monday, July 23, 2018 12:39 PM
To: Kevin Curtis
Cc: Courtney Boettcher
Subject: Rush tickets 305 and 290

Good morning Kevin,

I hope you had a relaxing vacation =)

There are two tickets that are marked as "rush". It would be appreciated to address these as quickly as possible.

Admin Directory

https://github.com/phsc-edu/2018/issues/305

Link for Fall Term 2019-1
https://g

[2018-07-23 16:41] C13L0 commented on #305
From: Webmaster
Sent: Monday, July 23, 2018 12:39 PM
To: Kevin Curtis
Cc: Courtney Boettcher
Subject: Rush tickets 305 and 290

Good morning Kevin,

I hope you had a relaxing vacation =)

There are two tickets that are marked as "rush". It would be appreciated to address these as quickly as possible.

Admin Directory

https://github.com/phsc-edu/2018/issues/305

Link for Fall Term 2019-1
https://g

[2018-07-23 16:43] curtiskphsc opened #306 "Office of Disabilities"
The "Manage Resources" tab has no operations links. Could you check the permissions on this and make sure that the office of disabilities staff have the ability to make edits as well as I?

https://disabilities-services.phsc.edu/admin/manage/resources

Thanks.

[2018-07-23 17:02] C13L0 commented on #306
@curtiskphsc Good call! Permissions were not working properly. They now have full edit/delete for resources

[2018-07-23 17:02] #306 closed

[2018-07-23 17:07] C13L0 commented on #169
Thanks for updating the location map and USF!  WOOHOO!

Here are the issues I am STILL having--I cannot make new time slots for day 2. they get changed and messed up, or do not actually become real...IDK!  😊 The times are SOOO messed up.

This is what needs to be changed (bold is item needing changed)
Agenda Day 1:
Schedule: 10:30-11:10 • Powerful Lessons in Leadership...
Agenda Day 2:
10:30-10:45

[2018-07-23 18:13] C13L0 commented on #285
Completed

[2018-07-23 18:13] #285 closed

[2018-07-23 18:56] Computerrat commented on #182
@curtiskphsc
Is this ticket completed? Please let me know and I will close it out. Thanks.

[2018-07-23 20:11] Computerrat opened #307 "Revised Evening Administrator List"
Please see attached for the revised evening administrator list.

Laura Santomenno

Administrative Assistant I, Dean of Academic Affairs and Institutional Accreditation

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

Phone: 727 816-3214

Fax: 727 816-3300

santoml@phsc.edu

[2018-07-23 20:17] Computerrat commented on #307
Completed

[2018-07-23 20:17] #307 closed

[2018-07-23 21:35] curtiskphsc opened #308 "Office of Disabilities Department Name Change"
This department has made a name change. They have been going through their content and making the necessary edits, and I have been following up on my end as well. The new department name is
Student Accessibility Services
The sub domain should reflect this. The "home" link should be named "Student Accessibility Services" and the search link should be "Search Accessibility Services"

![accessibility

[2018-07-23 21:38] curtiskphsc opened #309 "Career Services Announcement Not Populating Image"
This announcement created by Breanna Perry will not populate the image.
https://career-services.phsc.edu/department-informaion/news/announcement/searching-internship

[2018-07-24 13:53] C13L0 commented on #308
@curtiskphsc Will there be a change to the subdomain name?

[2018-07-24 13:59] C13L0 commented on #308
@curtiskphsc Requested changes have been made. Will there be a change to the subdomain?

[2018-07-24 17:09] curtiskphsc commented on #305
Completed. 1 hour 17 minutes plus Courtney spent 30 minutes reviewing the completed list for accuracy. Round trip total: 1 hour and 47 minutes.

[2018-07-24 17:43] C13L0 commented on #308
It isn't difficult on my end, I would only need to input a ticket with Network Services so they can create the new domain and update the dns. Once completed, I would have to update the Accessibility link in all website footers.

[2018-07-24 18:05] curtiskphsc commented on #308
Another question. All of the department job titles on this page are now incorrect https://disabilities-services.phsc.edu/department-information
Do we have to change them manually?

[2018-07-24 18:47] curtiskphsc commented on #297
@C13L0 @Computerrat I have transferred this request over to Courtney Boettcher via email. She will be handling it from there, thus I am closing this ticket.

[2018-07-24 18:47] #297 closed

[2018-07-24 18:55] C13L0 commented on #308
Their job titles should automatically update on login since we are pulling directly from Active Directory. There is not a way to change any of the information manually.

[2018-07-24 18:55] longc77 opened #310 "Update Logo on All PHSC pages"
@C13L0 Dr. Beard has approved a new PHSC master logo that aligns with our Spirit brand. The Marketing and Communications office has already started implementing it in our materials. Please update the logos on the site to reflect this change. I've included a ZIP file containing the SVG files.

Thank you,
Corey
[site logos 2018.zip](https://github.com/phsc-edu/2018/files/2224981/site.logos.2018.zip)

[2018-07-24 18:56] longc77 commented on #310
Here are screenshots
![screen shot 2018-07-24 at 2 47 56 pm](https://user-images.githubusercontent.com/38913763/43159935-c5f6ba54-8f51-11e8-9f39-b0039c74f919.png)
![screen shot 2018-07-24 at 2 45 15 pm](https://user-images.githubusercontent.com/38913763/43159937-c60b2cdc-8f51-11e8-8214-ff86e30f9cda.png)

[2018-07-24 19:17] curtiskphsc commented on #308
So they need to login to the sub domain in order for their titles to update? I just need to be very clear with them because they put the "job title updates" on a list of things that need to be edited on their sub domain in that email you were copied on as well.
"Office of Disabilities needs to be changed to Student Accessibility Services under all of our titles
Lisa Henkaline's title need to be ch

[2018-07-24 19:20] C13L0 commented on #308
The main directory at info.phsc.edu/directory pulls directly from HR.

Subdomain directories get pulled directly from Active Directory. In order for the subdomain to update, they will need to login with their PHSC username and password.

[2018-07-24 19:20] curtiskphsc commented on #308
Roger that.

[2018-07-25 02:30] Computerrat opened #311 "Fw: Intranet Announcement - Dr. Shustowski's Retirement Celebration"
Hi Cielo,

Please post this marketing approved announcement to the intranet homepage:

Celebrate Dr. Shustowski's Retirement. Please join the PHSC Foundation in celebrating Dr. Bill Shustowski's more than 40 year career in education as he retires from PHSC in August. Cake and refreshments will be served on Thursday, August 2 from 3-4 p.m. at the West Campus in room E-206. Please stop by and wish B

[2018-07-25 12:36] C13L0 commented on #255
From: Information Center
Sent: Monday, July 16, 2018 11:57:44 AM
To: Webmaster
Subject: Re: Updated Events!

Cielo,

Here is our feedback:

The only thing I'm noticing with the events...when I spoke with Cielo the other day she said there would be a 'publish' button that we would need to click on. I saw the button while I was talking to her, and now I don't see it. I'm not sure if it was something

[2018-07-25 15:22] Computerrat commented on #311
completed

[2018-07-25 15:22] #311 closed

[2018-07-25 15:29] #182 closed

[2018-07-25 15:48] C13L0 commented on #310
- [ ]  Academic Success Center
- [ ]  Admissions
- [ ]  Advising
- [ ]  Athletics
- [ ]  Career Services
- [ ]  Educator Preparation Institute
- [ ]  eFaculty Support
- [ ]  Equity Services
- [ ]  eStudent Support
- [ ]  Financial Aid
- [ ]  Financial Services
- [ ]  Foundation
- [ ]  Legal Department
- [ ]  Marketing
- [ ]  Office of Disabilities
- [ ]  Safety and Security
- [ ]  Student Life
- [

[2018-07-25 16:29] curtiskphsc commented on #290
Joyce states the letter is not mailing until Monday, July 30. In the interest of the affected party, I have created this event although IMM 1-24 clearly states the sub domain owner is responsible for content creation. I am also sending Christine Smith a very detailed walk through/how to guide for creating events so that her department can have the knowledge required to create events going forward.

[2018-07-25 16:54] curtiskphsc opened #312 "Missing revisions on admissions.phsc.edu"
All of the edits and revisions to this page https://admissions.phsc.edu/getting-started/high-school-students for the period of 5/23-6/20 2018 have disappeared and the page in question, and all of its content, appeared to revert to some time in May 2018. I have gone in and fixed the issues that were brought to my attention. This appears to be similar to the issue experienced with financial-aid.phsc

[2018-07-25 16:59] curtiskphsc opened #313 "CAPTCHA session reuse attack detected"
Students are reporting this on screen message "CAPTCHA session reuse attack detected" after submitting the West Campus GAD webform and are concerned that their submission has not been received as a result. https://student-life.phsc.edu/department-information/events/campus/get-acquainted-day-west-campus

[2018-07-25 17:57] C13L0 commented on #290
completed

[2018-07-25 17:57] #290 closed

[2018-07-25 18:58] Computerrat commented on #310
All sites updated except marketing.

[2018-07-25 20:34] longc77 commented on #310
Thank you @C13L0!!

[2018-07-25 20:56] Computerrat commented on #310
@longc77
All sites are updated. Just an FYI, I had to clear my browser's cache for the main site to refresh.

[2018-07-26 12:21] C13L0 commented on #310
Completed

[2018-07-26 12:21] #310 closed

[2018-07-26 12:21] C13L0 commented on #305
Completed

[2018-07-26 12:21] #305 closed

[2018-07-26 14:31] C13L0 commented on #312
@curtiskphsc @boettcc

Thank you for the detailed information with screenshots and dates. I compared the revision log of node 327 to the auto generated emails and admin revision report. There are not any revisions that are missing or have been deleted.

[2018-07-26 14:34] C13L0 commented on #313
@curtiskphsc @boettcc
Please provide the student name and email address so I can research

[2018-07-26 14:54] C13L0 opened #314 "Request for Subject Heading in Advising Subdomain"
From: Melissa Rushton
Sent: Wednesday, July 25, 2018 08:38 AM
To: Webmaster
Cc: Chiquita Henderson
Subject: Request for Subject Heading in Advising Subdomain

Hi Cielo,

Can you please create new subjects entitled "WISE" and "Late Registration" for the Advising subdomain (https://advising.phsc.edu/help).

Thank you,

Melissa

[2018-07-26 14:57] boettcc commented on #295
emailed Sonia Thorn, Margie Burnham and Ed Goolsby on 7/11 to suggest subdomain for CE, in which Medical Scribe program would be included/listed. They want to proceed with CE subdomain. Meeting to discuss with @C13L0 and @curtiskphsc will be scheduled.

[2018-07-26 15:19] curtiskphsc opened #315 "Error: Failed to bind to LDAP server"
Receiving an error message on login attempt at https://safety.phsc.edu/user/login
I had Courtney Boettcher attempt to login and she received the same message.
![safety-ldap-failed](https://user-images.githubusercontent.com/28155245/43271462-903102ec-90c5-11e8-9091-d741455ad627.PNG)

[2018-07-26 15:34] C13L0 commented on #315
@curtiskphsc Please try again

[2018-07-26 15:46] boettcc commented on #315
tried again and it worked for me.

[2018-07-26 15:47] C13L0 commented on #215
@jeppy64 I have this file. Ping me when ready =)

----------

Good Morning Cielo,

Attached is the Bio File (Directory) with the new fields for the Admin Directory.  The Schedule file for the new field that will designate the Current Term (Default Term) is already in the files you are getting from us for the Schedule on the Web.  Remember, please do not open and save with Excel as you will remove

[2018-07-26 18:37] C13L0 commented on #269
Completed

[2018-07-26 18:37] #269 closed

[2018-07-26 18:39] C13L0 commented on #169
Site is live. Completed

[2018-07-26 18:39] #169 closed

[2018-07-26 19:41] curtiskphsc commented on #312
@C13L0 @boettcc The document change in the screen shot was performed on node 327 on 6-14-2018 at 4:01 p.m. by oliverj. Please provide documentation of this document upload and the auto generated email notification. Also, I would like access to the datalogging module for all sub domains.

[2018-07-26 21:34] curtiskphsc opened #316 "Error: Failed to bind to LDAP server"
https://financial-aid.phsc.edu/user/login
![ldap-failure](https://user-images.githubusercontent.com/28155245/43289616-839f483e-90f9-11e8-87b3-20c4b3242c20.JPG)

[2018-07-26 21:53] C13L0 commented on #316
@curtiskphsc Please try again

[2018-07-26 22:22] curtiskphsc opened #317 "DE document"
This document was first uploaded containing an error. After the error was corrected, the original document was deleted from the Admissions sub domain. The new document was then uploaded with the same file name because the link must be the same due to a mass communication. The document name is displaying correctly on the forms and downloads page yet the link now has a _1 at the end of it. Any sugge

[2018-07-28 19:09] jeppy64 commented on #122
@C13L0
this ticket has been completed against ticket #255

I originally didn't include migrating all club and organization nodes, but while in the configuration move I updated the organization schedule bundle with the new field formatters and updated all views as well. Add to calendar function was also added. To ensure data integrity and back end handling, all organization schedule nodes have been

[2018-07-29 20:31] jeppy64 commented on #209
@C13L0

ticket is completed

[2018-07-29 20:34] jeppy64 commented on #210
@C13L0  @10yson

this feature has been completed on all sites against ticket #255

mentioned above, the athletics feed will be automatically completed upon completion of ticket #259

[2018-07-30 12:34] curtiskphsc commented on #230
@jeppy64 @C13L0 As the original request was from a sub domain user, and this would not work for sub domains, I would like to speak with Melissa Rushton and her staff as they are tasked with adding events to the main site, and changing any of their current processes without consulting them would be unfair. I will get back to you soon on this. For now, just hold off.

[2018-07-30 12:55] curtiskphsc opened #318 "Error: Failed to bind to LDAP server"
Error: Failed to bind to LDAP server while attempting login at https://career-services.phsc.edu/user/login using my current user name and password
![error-failed-to-bind-to-ldap-career-services](https://user-images.githubusercontent.com/28155245/43398482-31402b8c-93d6-11e8-8d4a-6f287bb9b8e3.JPG)

[2018-07-30 13:46] curtiskphsc commented on #230
@jeppy64 @C13L0 @boettcc Upon discussion with Melissa Rushton, after she reviewed the ticket and idea, she states it would save her staff a great deal of time when entering a large number of events which they do often from what I understand. I am good with moving forward on this, as Jay has outlined in his comments above, at the convenience of the parties affected. This is not a high priority on m

[2018-07-30 14:07] C13L0 commented on #318
Please try again

[2018-07-30 14:12] curtiskphsc commented on #318
Logged in now.

[2018-07-30 14:12] #318 closed

[2018-07-30 14:42] curtiskphsc opened #319 "Error: Failed to bind to LDAP server"
Error: Failed to bind to LDAP server when attempting to log in at
https://policies.phsc.edu/user/login using my current user name and password
![ldap-failed-policies](https://user-images.githubusercontent.com/28155245/43404310-286b1c56-93e5-11e8-8c1b-663a19cd8470.JPG)

[2018-07-30 14:46] C13L0 commented on #319
Please try again

[2018-07-30 15:00] C13L0 commented on #319
@curtiskphsc ^^ forgot to tag you

[2018-07-30 15:14] curtiskphsc opened #320 "DBOT list question"
On the DBOT members page here, https://policies.phsc.edu/district-board-trustees we have to rearrange the list order yearly. The chair is always listed first followed by the Vice Chair, and the remaining are listed in order of service longevity. Robin Schneider is Chair and should be at the top followed by Vice Chair Alvaro Hernandez. Rao Musunuru should be listed 3rd now and the rest remain where

[2018-07-30 15:27] Computerrat opened #321 "IMM-20"
This IMM should be posted as soon as possible and should have an effective date of 5/14/2018.

Thank you,

Pam

Pamela A. Nadolski, FRP ACP
Advanced Certified Paralegal
Pasco-Hernando State College
10230 Ridge Road
New Port Richey, FL 34654
Phone: 727-816-3746
Fax: 727-816-3450
Email: nadolsp@phsc.edu

[2018-07-30 15:29] Computerrat opened #322 "3 IMMs"
Cielo,

Please post these three IMMs.  They each have an effective date of 6/11/2018.

Thank  you,

Pam
Pamela A. Nadolski, FRP ACP
Advanced Certified Paralegal
Pasco-Hernando State College
10230 Ridge Road
New Port Richey, FL 34654
Phone: 727-816-3746
Fax: 727-816-3450
Email: nadolsp@phsc.edu

[2018-07-30 15:34] C13L0 commented on #194
@curtiskphsc Please create a new ticket for the above request as it has nothing to do with a subdomain request. We also need Marketing to provide a comp for the above request so it can be themed.
________

Closing this ticket, duplicate subdomain request in ticket Medical Scribe Project #295

[2018-07-30 15:34] #194 closed

[2018-07-30 15:42] Computerrat opened #323 "Faculty Senate intranet page"
Cielo,

Can you update the Faculty Senate intranet page (https://access.phsc.edu/senate/) please with the following:

Remove the Links section, remove the Senate directory link and sub-page, remove the discussion group link, remove the fact books link, and remove meetings on the right side of the page.

Under Announcements, please revise to say:  Faculty Senate meeting schedule, agendas, and meeti

[2018-07-30 15:48] C13L0 commented on #314
From: Melissa Rushton
Sent: Monday, July 30, 2018 09:32 AM
To: Webmaster
Cc: Chiquita Henderson
Subject: Re: Request for Subject Heading in Advising Subdomain

Cielo,

We do not have many at this time.  Here a list we can use:

Advising

Registration

Late Registration

WISE

If I can think of anymore, I will let you know.

Thanks,

Melissa

[2018-07-30 15:55] Computerrat commented on #321
Completed.

[2018-07-30 15:55] #321 closed

[2018-07-30 16:01] C13L0 commented on #314
Completed

[2018-07-30 16:01] #314 closed

[2018-07-30 16:06] C13L0 commented on #230
@jeppy64 addanother module has been pushed to marketing website.

[2018-07-30 16:07] Computerrat commented on #322
Completed

[2018-07-30 16:07] #322 closed

[2018-07-30 16:43] C13L0 commented on #261
Duplicate of https://github.com/phsc-edu/2018/issues/275

[2018-07-30 16:43] #261 closed

[2018-07-30 17:01] C13L0 commented on #317
@curtiskphsc

I tested this as a document editor on the admissions website site and cannot reproduce.

Steps taken in an attempt to reproduce reported error:
1. Removed sar65b.pdf and saved
2. Added updated document with same name sar65b.pdf and saved

**The updated document updated with the correct name of sar65b.pdf.**

<img width="657" alt="sar65b-screenshot" src="https://user-images.githubuser

[2018-07-30 17:01] #317 closed

[2018-07-30 17:09] C13L0 commented on #296
@jeppy64 This was not completed...there is still moderation on the event document. In addition, the document doesn't show on the event.

Also related to #255

[2018-07-30 17:24] Computerrat commented on #323
Completed

[2018-07-30 17:24] #323 closed

[2018-07-30 17:27] Computerrat opened #324 "Faculty Development Newsletter Announcement for Intranet Homepage"
Hi Cielo,

Please post the marketing approved announcement and pdf to the intranet homepage.

August Faculty Development Newsletter Now Available. Check out the special edition August Faculty Development Newsletter with information regarding professional development opportunities, copyright regulations, Fall Faculty Meeting dates, and important QEP updates.

Post date: by 8/1/18

Pull date: 8/31/1

[2018-07-30 17:53] Computerrat commented on #324
completed

[2018-07-30 17:53] #324 closed

[2018-07-30 18:12] Computerrat opened #325 "July Evening Administrator correction"
Please see the attached. Thank you!

Laura Santomenno

Administrative Assistant I, Dean of Academic Affairs and Institutional Accreditation

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

Phone: 727 816-3214

Fax: 727 816-3300

santoml@phsc.edu

[2018-07-30 18:41] #319 closed

[2018-07-30 19:33] C13L0 commented on #266
Webform only allows filtering by submitted date and/or notes. This request is to sort by node title. I've created added the feature request to the issue queue at https://www.drupal.org/project/webform/issues/2989266

As a quick fix, webform submissions can be exported to excel and sorted or filtered.

Closing this ticket and will re-open if this request is completed by the module maintainer.

[2018-07-30 19:59] C13L0 commented on #266
NEW
Comment #2jrockowitz CreditAttribution: jrockowitz as a volunteer and at The Big Blue House commented 14 minutes ago
This feature request makes sense to me. I need a little time to figure out the best way to implement this filter.

[2018-07-30 20:13] C13L0 commented on #122
Looks great! Closing this ticket as it was completed against #256

[2018-07-30 20:13] #122 closed

[2018-07-30 20:26] C13L0 commented on #176
This has been completed. Closing as it is part of monthly contract.

[2018-07-30 20:26] #176 closed

[2018-07-30 20:30] C13L0 commented on #233
Temporarily removing my assignment until @jeppy64 completes the ticket. Will theme as soon as backend configurations are completed.

[2018-07-30 20:41] C13L0 commented on #159
Completed

[2018-07-30 20:41] #159 closed

[2018-07-30 23:42] C13L0 opened #326 "Intranet color pallet"
From: Courtney Boettcher
Sent: Monday, July 30, 2018 04:07 PM
To: Webmaster
Cc: Lucy Miller
Subject: Secondary Color for Intranet

Hi Cielo,

Attached is the updated color palette page from the new Brand Guide that we are working on in marketing. I wanted to share this page so that you would have the secondary colors (see page 23) as you mentioned working on the new intranet and the need to use on

[2018-07-31 02:47] jeppy64 commented on #230
@curtiskphsc  @C13L0

Add another has been configured on the live marketing site for only the Event content type (explicitly disabled for all other content types). Upon entering a new event, at the bottom of the screen there's now a new button named "Save and Add Another". Clicking this will commit the current node add and redirect back to node/add/even

Time to complete: 1/2 hour

[2018-07-31 12:33] C13L0 commented on #124
This should be assigned to @jeppy64
We are currently waiting for drupal core 8.6

[2018-07-31 12:38] C13L0 commented on #227
@longc77 Please create individual tickets for each item that needs to be fined tuned. Closing this ticket for cleanup.

[2018-07-31 13:14] C13L0 commented on #230
@jeppy64 I am getting an error when using the "Save and add another"

Steps to reproduce:

1. Logged in as Event Editor
2. Added information into all required fields, including an end date
3. Choose Save and add another button

This results in an error message "This value should not be null."

![value-should-not-be-null](https://user-images.githubusercontent.com/3138019/43461728-2cc905f2-94a2-11e8

[2018-07-31 13:27] C13L0 commented on #230
@jeppy64 Actually, I can't add any new event.

![entity-label](https://user-images.githubusercontent.com/3138019/43462397-fcd45dae-94a3-11e8-8445-9f116eb0a371.png)

[2018-07-31 13:34] longc77 commented on #227
@C13L0 I'd really like to keep this open. There are just too many things.

We discussed sitting down together and going through the site. I think this is the best way to accomplish this ticket. Will you please reopen? TY

[2018-07-31 13:36] C13L0 commented on #227
@longc77 I understand, but each item needs it's individual ticket. It's simply too overwhelming to group all together, in addition making it easy to overlook something.

The traditional workflow of an issue queue is to create one ticket per item. It really needs to stay this way for organization purposes.

[2018-07-31 13:41] longc77 commented on #227
This piece is just a sit down meeting between you and I to review and tweak. Once we do that if other items are found, a ticket can be placed. When Phase I was finished, we said that we were going to sit down and review. I honestly think it's a waste of time to put multiple tickets in right now. I have to sit down with you to tweak everything so we can look at it on screen.

This is like the readi

[2018-07-31 13:47] C13L0 commented on #227
Ok =)

[2018-07-31 14:27] C13L0 opened #327 "Financial Services content accessibility audit"
@curtiskphsc Please review Financial Services for accessibility issues on some of their pages. There are many words and sentences in all caps.

https://financial-services.phsc.edu/purchasing/purchase-order-terms-and-conditions

![financial-services-content-accessibility-issue](https://user-images.githubusercontent.com/3138019/43465812-2822cc9a-94ac-11e8-95b7-46b0e1b26888.png)

[2018-07-31 16:02] C13L0 commented on #172
@jeppy64 This look great!

[2018-07-31 16:02] #172 closed

[2018-07-31 17:28] curtiskphsc commented on #327
@C13L0 This is a legal document. I don't make or suggest edits to legal documents as I am not en attorney.

[2018-07-31 17:45] C13L0 commented on #327
@boettcc @curtiskphsc This is a webpage not a legal document and it is not ada compliant.

[2018-07-31 18:25] C13L0 commented on #296
@jeppy64 Closing this! I logged in as content editor and everything was good =)

[2018-07-31 18:25] #296 closed

[2018-07-31 18:40] C13L0 commented on #279
Request emailed to Jeff House

[2018-07-31 18:49] C13L0 commented on #212
Closing

[2018-07-31 18:49] #212 closed

[2018-07-31 19:10] C13L0 commented on #316
Ticket cleanup: Please review and close

[2018-07-31 19:10] C13L0 commented on #316
@curtiskphsc

Ticket cleanup: Please review and close

[2018-07-31 19:11] C13L0 commented on #313
@curtiskphsc
Ticket cleanup: Please review or close

[2018-07-31 19:12] C13L0 commented on #257
@curtiskphsc
Ticket cleanup: Please review

[2018-07-31 19:13] C13L0 commented on #226
Ticket cleanup: Please review or close

[2018-07-31 19:56] Computerrat opened #328 "IMM 3-22 and IMM 3-33"
Cielo,

Please post these two IMMs. The effective date is 7/30/2018.

Thank you,

Pam

Pamela A. Nadolski, FRP ACP
Advanced Certified Paralegal
Pasco-Hernando State College
10230 Ridge Road
New Port Richey, FL 34654
Phone: 727-816-3746
Fax: 727-816-3450
Email: nadolsp@phsc.edu

[2018-07-31 20:03] Computerrat opened #329 "August Evening Administrator List"
Good Afternoon,

Please see the attached for the evening administrator list for August.

Thank you.

Laura Santomenno

Administrative Assistant I, Dean of Academic Affairs and Institutional Accreditation

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

Phone: 727 816-3214

Fax: 727 816-3300

santoml@phsc.edu

[2018-08-01 11:41] curtiskphsc commented on #327
@C13L0 I will pass along your comments to the legal team and see what they say. It is a legal document that has been placed on a web page. Perhaps they need to remove it.

[2018-08-01 12:24] jeppy64 commented on #230
@C13L0

It looks like in the new event - to -event_day entity reference field, cache was wreaking havoc and then, configuration had turned off the default value of "Published" on an Event Day and Session bundles. The error you were seeing was the result of the Event Day not being able to be saved with autolabel on the time/date stamp of the Event Day due to the configuration default not being "Pub

[2018-08-01 12:24] C13L0 commented on #327
@curtiskphsc @boettcc

The website is not a legal document, it is a website, meaning all pages must be ada compliant. As of right now, that page is not accessible to those using a screenreader because of content that is in all caps. The original EOE-ADA Compliance page was written in legal text but for this very reason was cited by OCR, along with 13 other pages.

To be clear, all pages on our mai

[2018-08-01 12:29] curtiskphsc commented on #327
Email sent to content owners with Github ticket URL attached. Awaiting comment.

[2018-08-01 12:35] #316 closed

[2018-08-01 12:38] curtiskphsc commented on #313
@C13L0 The student's submission was in fact logged. Faith Graves, submission number 93

[2018-08-01 12:47] curtiskphsc commented on #320
@C13L0 @longc77 I have rebuilt the entire list to reflect the changes in DBOT leadership for the 2018-2019 year. It would be great to have some drag handles or a numbering system as was created by @jeppy64 for the front page feature cards in order to avoid this pain point in the future. As it stands, I had to delete each entry and re-enter them in the correct order.

[2018-08-01 12:53] curtiskphsc commented on #308
@C13L0 UPDATE: Awaiting comments from subdomain owner RE changing the domain name.

[2018-08-01 12:53] curtiskphsc commented on #257
@C13L0 I have reached out to David and will do so again.

[2018-08-01 12:58] curtiskphsc commented on #257
@C13L0 email communication sent 8-1-2018 requesting a meeting with David.

[2018-08-01 13:01] curtiskphsc commented on #226
@C13L0 This is a bigger picture issue and we should probably review it more thoroughly at a later date. I plan to perform a comprehensive review of all menu items and their use numbers after November 30, 2018. At that time we can look at what changes we might want to make to menu items and link text.

[2018-08-01 13:01] #226 closed

[2018-08-01 14:51] Computerrat opened #331 "Master Course Outline"
Good Afternoon,

Would you please post the attached to the Master Course Outline on the intranet found at

https://access.phsc.edu/administration/is/mco.php

Thank you!

Laura Santomenno

Administrative Assistant I, Dean of Academic Affairs and Institutional Accreditation

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

Phone: 727 816-3214

Fax: 727 816-3300

santoml@phs

[2018-08-01 16:08] jeppy64 commented on #230
@curtiskphsc  @C13L0

Unfortunately the Addanother module cannot handle entity references. We have a definite one (potentially two) entity references from the Event that deal with dates/times:

One Event - can have many Event Days (entity reference number 1) <-- at least 1 mandatory
One Event Day - can have many sessions (entity reference number 2) <-- not mandatory

So, when saving your event day

[2018-08-01 16:37] curtiskphsc commented on #197
Completed.

[2018-08-01 16:37] #197 closed

[2018-08-01 17:31] Computerrat commented on #329
completed

[2018-08-01 17:31] #329 closed

[2018-08-01 17:41] #90 closed

[2018-08-01 18:05] Computerrat commented on #331
Completed

[2018-08-01 18:05] #331 closed

[2018-08-01 18:06] Computerrat commented on #328
Completed

[2018-08-01 18:06] #328 closed

[2018-08-01 19:28] Computerrat opened #332 "Master Course Outline Updates"
Good afternoon,

Attached are some more Master Course Outline updates that were approved by CAA and DBOT. Please let me or Laura know if you need anything else.

Thank you,
Marissa Binder
Executive Administrative Assistant,
Vice President of Academic Affairs and Faculty Development/College Provost
PHSC West Campus, Room A-121
10230 Ridge Road
New Port Richey, Fl 34654
(727) 816-3491

[2018-08-01 20:11] Computerrat commented on #332
Completed.

[2018-08-01 20:11] #332 closed

[2018-08-02 17:40] C13L0 commented on #313
@curtiskphsc awesome! The student should have also received an confirmation email that the webform went through.

Closing...working as designed

[2018-08-02 17:40] #313 closed

[2018-08-02 17:45] C13L0 commented on #196
Closing. This was completed in #255

[2018-08-02 17:45] #196 closed

[2018-08-02 17:58] C13L0 commented on #255
Signed off!

[2018-08-02 17:58] #255 closed

[2018-08-02 18:01] C13L0 commented on #177
@jeppy64

As discussed, each event needs it's own page similar to University Partners. On that page we can show upcoming and past events.

[2018-08-02 21:39] curtiskphsc commented on #308
@C13L0 @boettcc @longc77
Domain name change approved by Dean Henderson.
New domain name to be accessibility-services.phsc.edu
Please execute at your leisure.

Yes, you can change the domain name.

Chiquita A. Henderson, MPA, MS
Dean of Student Affairs and Enrollment Management
Pasco-Hernando State College
727-816-3205

Message sent from mobile device.

From: Darcy McDowell <mcdowed@phsc.edu>
Sent:

[2018-08-06 12:57] C13L0 commented on #327
@curtiskphsc @boettcc Please move forward with making the requested website content accessible.

--------------

Good afternoon, Brian.

As we discussed, the caps on the page would have to be made lower case.  The page is not a legal document even though as you explained your office is using it as a legal reference.  As you know, we were sited for these very same issues less than a year ago.

Now,

[2018-08-06 15:41] Computerrat opened #333 "Admissions content accessibility audit"
### Please check the following links for accessibility problems. ###

https://admissions.phsc.edu/help/faq/graduation/commencement-ceremony-procedural-information
![commencement ceremony procedural information _ admissions and student records - google chrome 2018-08-06 09 46 36](https://user-images.githubusercontent.com/31025634/43726446-279e5c1a-996d-11e8-9a1d-2410d1b863e5.png)

--------------

h

[2018-08-06 16:02] C13L0 commented on #333
@curtiskphsc Please correct the three accessibility issues as documented above.

[2018-08-06 17:05] Computerrat opened #334 "Academic Advising content accessibility audit"
### Please review the following links for accessibility problems.

https://advising.phsc.edu/help/faq/advising-and-registration/can-i-obtain-my-degree-online
![can i obtain my degree online_ _ advising - google chrome 2018-08-06 12 26 49](https://user-images.githubusercontent.com/31025634/43730261-ceef0db0-9978-11e8-9ef6-e1acc65b6a2f.png)

--------------

https://advising.phsc.edu/help/faq/wise/i-

[2018-08-06 17:16] Computerrat commented on #334
As a side note, I found these two FAQs that did not have a link to WISE. As other FAQs did allow you to link to WISE, as a student, I found that a bit confusing.

https://advising.phsc.edu/help/faq/registration/how-do-i-change-my-schedule
![how do i change my schedule_ _ advising - google chrome 2018-08-06 12 41 13](https://user-images.githubusercontent.com/31025634/43730354-11dcdc10-9979-11e8-8f5

[2018-08-06 17:28] C13L0 commented on #334
@curtiskphsc Please correct the two accessibility issues as documented above.

[2018-08-06 19:11] C13L0 commented on #295
@curtiskphsc @boettcc @jeppy64 Please feel free to add your own or let me know what I missed

### Meeting notes ###

- Subdomain will contain noncredit courses and summer career camps.
- There will be a two calendars on front page.
  - Noncredit course calendar
  - Summer career camp calendar

**Noncredit Courses**
- Main menu tab (Noncredit Courses?)
- Filter by noncredit course name, location, a

[2018-08-06 19:27] C13L0 commented on #295
Current website page
https://phsc.edu/academics/continuing-education

[2018-08-06 19:35] curtiskphsc commented on #334
@C13L0 @Computerrat As I will need to communicate to our stakeholders the reason behind the request to have them modify their content, we need to have some clearly defined reasons, and we should be speaking the exact same language so as not to confuse anyone. Also, we should be very specific as to _when_, and _in what circumstances_, capitalization _is_ allowed. I am not an ADA compliance expert.

[2018-08-06 19:36] C13L0 commented on #215
@jeppy64

--------

From: Webmaster
Sent: Monday, August 6, 2018 03:35 PM
To: Janice L Scott; jeppy64@gmail.com
Subject: Administration page | 215 | Open

Hi Jan,

There are quite a few issues with the new bio file which has the new administration information. Jay would like to do a skype screenshare in order to go over the file.

When is a good time to meet? It shouldn't take too long to review.

[2018-08-06 19:41] C13L0 commented on #334
@curtiskphsc @boettcc

It is cut and dry. An acronym can be in all caps. If it is not an acronym, it cannot be all caps.

[2018-08-06 20:12] curtiskphsc commented on #333
@C13L0 @Computerrat This is the same scenario. It is not enough for us to simply say "This is not accessible" We need to be very clear in how we communicate this to the content creators otherwise they will simply keep repeating the same mistakes. Also, we don't want to simply make the changes ourselves or they will not learn.
What is the ADA compliant way to include a hyperlink to an external web

[2018-08-06 20:15] curtiskphsc commented on #334
@C13L0 We still need a point of reference. A URL to direct them to or something.

[2018-08-06 20:34] C13L0 commented on #266
Jrockowitz has added the patch to webform 8 x-5 x-dev. Verified it works!

![test-filter-8 x-5 x-dev](https://user-images.githubusercontent.com/3138019/43739571-88257c66-9996-11e8-8fc3-333d085b8c78.png)

[2018-08-06 20:37] C13L0 commented on #334
@curtiskphsc @boettcc The accessibility checker is used to check the reading order. It cannot decipher between a word in all caps or an acronym in all caps. I will be happy to remove the accessibility checker from all websites if you feel that it's confusing.

[2018-08-06 20:56] C13L0 commented on #333
@curtiskphsc @boettcc Please correct the three accessibility issues as documented above.

[2018-08-06 20:58] C13L0 commented on #327
@curtiskphsc @boettcc Please correct the accessibility issues as outlined in the original request.

[2018-08-06 20:59] C13L0 commented on #334
@curtiskphsc @boettcc Please correct the two accessibility issues as documented above.

[2018-08-06 22:14] C13L0 opened #335 "Career Path Documentation"
https://dev-phsc-marketing.pantheonsite.io/

@Computerrat Please review and update the current documentation for Career Paths. Login to the dev site to verify documentation and for updated screenshots. In addition, the updated pdf should be accessible. =)

This documentation is for the main website phsc.edu, please update the url too.

[marketing-careerpath.docx](https://github.com/phsc-edu/2018/f

[2018-08-07 12:27] C13L0 commented on #256
Completed

[2018-08-07 12:27] #256 closed

[2018-08-07 12:30] C13L0 commented on #209
Completed

[2018-08-07 12:30] #209 closed

[2018-08-07 12:37] C13L0 commented on #230
@jeppy64 Thank you for the work you put into this. Closing ticket.

[2018-08-07 12:37] #230 closed

[2018-08-07 12:43] C13L0 opened #336 "Share content from main site to subdomains"
Allow event editors to push events from the main site to subdomains.
Allow marketing admin to push news and notifications from main site to subdomains.

Original ticket #124

Waiting for core update to 8.6.x for testing because entity share does not allow filtering.

[2018-08-07 12:46] C13L0 commented on #124
Closing. Created new ticket at Share content from main site to subdomains #336

[2018-08-07 12:46] #124 closed

[2018-08-07 12:52] C13L0 opened #337 "Foundation events"
Foundation needs a static event page for each of their main events. Static event page should show upcoming event along with a link to fully intact past events. This way, they do not have to manually choose which past events to display.

In Jay's words "Create event day occurrence".

This is a new ticket in reference to Foundation manage past events #177

[2018-08-07 12:52] C13L0 commented on #177
Closing as there is a new ticket #337

[2018-08-07 12:52] #177 closed

[2018-08-07 12:55] C13L0 opened #338 "Foundation remove duplicate sponsors"
Sponsor should show all events they sponsor

<img width="667" alt="sponsors" src="https://user-images.githubusercontent.com/3138019/43777040-a7d73e58-9a1f-11e8-8442-e2d20e9e2260.png">

[2018-08-07 13:08] C13L0 opened #339 "Department Hours"
Remove legacy time text fields and replace with new time field.

time_field module has been pushed to all sites.

[2018-08-07 13:34] C13L0 commented on #308
@curtiskphsc

From: Rick Sanders
Sent: Tuesday, August 7, 2018 09:16 AM
To: Webmaster
Subject: Re: New url for Disabilities Services

I've made the DNS changes.  It may take some time for the changes to fully propagate.

Thanks,

Rick Sanders
Network Security Manager
Pasco-Hernando State College
10230 Ridge Road
New Port Richey, FL 34654
727-816-3472

[2018-08-07 13:35] C13L0 commented on #308
Update website footer link

- [ ]  Academic Success Center
- [ ]  Admissions
- [ ]  Advising
- [ ]  Athletics
- [ ]  Career Services
- [ ]  Educator Preparation Institute
- [ ]  eFaculty Support
- [ ]  Equity Services
- [ ]  eStudent Support
- [ ]  Financial Aid
- [ ]  Financial Services
- [ ]  Foundation
- [ ]  Legal Department
- [ ]  Marketing
- [ ]  Office of Disabilities
- [ ]  Safety and Secu

[2018-08-07 15:12] C13L0 commented on #308
Completed

[2018-08-07 15:12] #308 closed

[2018-08-07 15:16] C13L0 opened #340 "Change disabilities services to accessibility services"
@curtiskphsc Please update the content at https://policies.phsc.edu/policies-and-procedures/accessibility

<img width="687" alt="policies-accessibility-services" src="https://user-images.githubusercontent.com/3138019/43784899-34bc5066-9a33-11e8-85e8-a5f4ad05188d.png">

[2018-08-07 17:18] 10yson commented on #210
Thank you.  I've reviewed the All Events feed and the Deadline feed produced on the main (Marketing) site as well as those same feeds produced on a few other sub-domains.  The feeds meet the objective and work as expected.

[2018-08-07 17:18] #210 closed

[2018-08-07 19:20] C13L0 opened #341 "PHCC in application document"
@curtiskphsc @boettcc Educator Preparation Institute application has PHCC on several pages
https://educator-prep.phsc.edu/sites/default/files/documents/application-packet2018.pdf

<img width="624" alt="application-packet2018" src="https://user-images.githubusercontent.com/3138019/43797431-59ccfcee-9a55-11e8-922e-8a4a00911d53.png">

[2018-08-07 20:34] C13L0 commented on #259
From: Steve Winterling
Sent: Tuesday, August 7, 2018 04:00 PM
To: Webmaster
Cc: Dominique Phillips-Alvarez; Deann Newton; Jacki Wachtel; Thomas Ryan; Micheal Jones; Lyndon Coleman
Subject: Athletic Web Pages

Dear Webmaster:

The PHSC Athletic Department Information needs correcting as we have several changes among our staff.  We also need links for the Fall 2018 rosters and schedules set and Spri

[2018-08-08 14:34] curtiskphsc commented on #340
@C13L0 @boettcc Please be advised I am planning to send a communication to ALL subdomain owners regarding the need to update the name of this department on their web pages. As the domain name will also be changing, I am waiting for that to be completed as all hyperlinks to the accessibility subdomain will have to be updated as well.

[2018-08-08 15:36] Computerrat opened #342 "Career Service content accessibility audit"
### Please check the following links for accessibility problems. ###

---------------

https://career-services.phsc.edu/help/faq/how-can-i-find-out-more-about-testing-services-offered-phsc
![how can i find out more about testing services offered at phsc_ _ career services - google chrome 2018-08-06 14 28 32](https://user-images.githubusercontent.com/31025634/43847441-9baaad10-9afe-11e8-9999-42ec8d

[2018-08-08 16:10] C13L0 commented on #340
@curtiskphsc @boettcc Ticket #308 was completed.

[2018-08-08 17:09] Computerrat opened #343 "eFaculty content accessibility audit"
### Please check the following links for accessibility problems. ###

https://efaculty.phsc.edu/canvas/external-apps/zoom
![zoom _ efaculty support - google chrome 2018-08-08 11 58 45](https://user-images.githubusercontent.com/31025634/43852590-9a0c5348-9b0b-11e8-81f0-7fdf3065d226.png)

----------------
https://efaculty.phsc.edu/eteaching/community-practice/edutech-training-series
![edutech traini

[2018-08-08 17:38] Computerrat opened #344 "Equity services content accessibility audit"
### Please check the following links for accessibility problems.

https://equity-services.phsc.edu/programs/linking-faith-and-education-life
![linking in faith and education life _ global and multicultural awareness - google chrome 2018-08-08 13 22 17](https://user-images.githubusercontent.com/31025634/43854042-c43b7d7a-9b0f-11e8-851d-8737adfbcc96.png)

[2018-08-08 18:40] Computerrat opened #345 "eStudent Support"
### Please check the following links for accessibility problems.

https://online.phsc.edu/online-learning/support
![support _ estudent support - google chrome 2018-08-08 14 33 43](https://user-images.githubusercontent.com/31025634/43857043-2b8acab4-9b18-11e8-9772-4196d62bdbbb.png)

-------------------

https://online.phsc.edu/support
![support _ estudent support - google chrome 2018-08-08 14 36 59

[2018-08-08 18:59] Computerrat opened #346 "Intranet Announcement Request - IMMs and Board Rules"
Good afternoon,

Please post the attached, marketing approved announcement to the intranet. Please post announcement as soon as you are able and leave up for 2 weeks.

Many thanks,
Courtney

Courtney Boettcher

Associate Director, Marketing and Communications

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

boettcc@phsc.edu

727.816.3738

[2018-08-08 19:01] Computerrat commented on #346
completed

[2018-08-08 19:01] #346 closed

[2018-08-08 19:37] Computerrat opened #347 "AMX Posting for East Campus"
Please post the following slide saved in the East Campus AMX folder on the AMX TVs on campus. The pull date 8/20/18.

Thanks,

Courtney Benito

Senior Office Assistant, Faculty Support, East Campus

Pasco-Hernando State College

36727 Blanton Road

Dade City, FL 33523

Phone: 352-518-1314

Fax: 352-518-1225

[2018-08-08 19:41] Computerrat commented on #347
closed...all amx requests must go through marketing.

[2018-08-08 19:41] #347 closed

[2018-08-08 20:28] Computerrat opened #348 "Revised Evening Administrator List"
Good Afternoon,

Attached please find the revised evening administrator list to post on the intranet. Thank you,

Laura Santomenno

Administrative Assistant I, Dean of Academic Affairs and Institutional Accreditation

Pasco-Hernando State College

10230 Ridge Road

New Port Richey, FL 34654

Phone: 727 816-3214

Fax: 727 816-3300

santoml@phsc.edu

[2018-08-08 20:33] Computerrat commented on #348
completed

[2018-08-08 20:33] #348 closed

[2018-08-09 10:59] jeppy64 commented on #40
@C13L0

all set on this. completed!

time to complete: 4.5 hours

[2018-08-09 11:02] jeppy64 commented on #233
@C13L0

work has completed and is live on production.

time to complete: 12 hours

[2018-08-09 13:16] jeppy64 commented on #105
@C13L0
all set. completed!

time to complete: 2 hours

[2018-08-09 15:31] curtiskphsc opened #349 "No edit button for HR"
I have no edit button https://phsc.edu/node/2975
![no-edit-jobs](https://user-images.githubusercontent.com/28155245/43909158-aa12cfc6-9bc7-11e8-943c-9518b760df86.JPG)

[2018-08-09 16:06] C13L0 commented on #349
@curtiskphsc This has been corrected

[2018-08-09 16:06] #349 closed

[2018-08-09 17:45] C13L0 commented on #233
This has been completed

[2018-08-09 17:47] C13L0 commented on #105
This has been completed

[2018-08-09 17:54] C13L0 commented on #40
This has been completed!

[2018-08-09 17:55] C13L0 commented on #40
This is against maintenance

[2018-08-09 17:55] #40 closed

[2018-08-09 17:57] C13L0 commented on #233
@jeppy64 has completed the build out.

[2018-08-09 18:01] #105 closed

[2018-08-09 18:14] C13L0 opened #350 "Request to add another Contact"
The office of Global & Multicultural Awareness has now two Pre-Collegiate Program Coordinators that can be contacted for the Out-Reach Students Events. However, the system for events only can hold  the information for one contact. Is there a way that you can add one more contact?  Please let us know.

Blessings!

Concepcion M. Tijerino
Office Assistant

Global & Multicultural Awareness

Pasco-Hern

[2018-08-09 18:40] C13L0 opened #351 "HR job contacts"
Pat has requested to have the ability to add contacts in the sidebar instead of in the body field. This way, she can re-use contacts over and over.

This would be identical to contact added to career paths, with the ability to add more than one contact to a job.

[2018-08-10 17:17] C13L0 commented on #336
https://www.drupal.org/core/roadmap

Important Dates
See https://www.drupal.org/core/release-cycle-overview for more:

8.6.0 Feature Freeze: Week of July 18, 2018
**8.6.0 Release: September 5, 2018**
8.7.0 Feature Freeze January 2019
8.7.0 Release: March 19, 2019

[2018-08-11 01:37] Computerrat opened #352 "June 2018 News clips"
Good morning,

Please upload the June 2018 news clips to the intranet under the marketing tab.

Thank you very much 😊

Tracy Horn

Marketing Project Manager

10230 Ridge Road

New Port Richey, FL 34654

(727) 816-3467

hornt@phsc.edu

[2018-08-11 01:40] Computerrat opened #353 "July 2018 News clips"
Good afternoon,

Please upload the July2018 news clips to the intranet under the marketing tab.

Thank you very much 😊

Tracy Horn

Marketing Project Manager

10230 Ridge Road

New Port Richey, FL 34654

(727) 816-3467

hornt@phsc.edu

[2018-08-13 12:39] C13L0 opened #354 "Tutoring Subjects phrase repeating"
From: Benjamin Schultze
Sent: Sunday, August 12, 2018 04:41 PM
To: Webmaster
Subject: Tutoring Subjects phrase repeating

On the tutoring page, I've noticed that the words Tutoring Subjects: precedes every tutoring topic. Can this be eliminated?

[2018-08-13 12:45] C13L0 opened #355 "(August) Ticket Submissions"
@jeppy64

Can you please take a look at this? =)

-------------

Good morning,

I would like to submit tickets for the following:

<strike>I would like to have the following personnel removed from the Advising Subdomain Department Information Page (https://advising.phsc.edu/department-information) since they are not in Advising:
Amy McCain
Pangri Mehta
Rakesh Shah</strike>

I cannot update the bus

[2018-08-13 12:46] C13L0 commented on #355
Assigning to myself

----------

I would like to have the following personnel removed from the Advising Subdomain Department Information Page (https://advising.phsc.edu/department-information) since they are not in Advising:
Amy McCain
Pangri Mehta
Rakesh Shah

[2018-08-13 12:49] C13L0 opened #356 "2018 Roster and Schedule Links"
From: Steve Winterling
Sent: Monday, August 13, 2018 08:29 AM
To: Webmaster; jeppy64@gmail.com
Subject: 2018 Roster and Schedule Links

Good morning!

I see cross country has the 2018 roster and schedule links on the web page.  We need the links for the other sports.  The volleyball roster and schedule are ready to go.  They play their first scrimmage on Wednesday.  Please keep me posted.

We can

[2018-08-13 12:57] C13L0 commented on #345
@curtiskphsc @boettcc Please correct the two accessibility issues as documented above.

[2018-08-13 12:58] C13L0 commented on #344
@curtiskphsc @boettcc Please correct the two accessibility issues as documented above.

[2018-08-13 12:59] C13L0 commented on #343
@curtiskphsc @boettcc Please correct the two accessibility issues as documented above.

[2018-08-13 13:01] C13L0 commented on #342
@curtiskphsc @boettcc Please correct the accessibility issues as documented above, along with the missing links.

[2018-08-13 14:51] jeppy64 commented on #215
@C13L0
Happy to report the new bio file is pristine :) On my side of things it's a definite go!

We have a little challenge on the admin directory images where if the bio feed file borks, we have to manually upload all bio records tagged as admin.

Here's what I'd like to do:
1: Create a new directory in the course schedule file storage system (portrait_images) under sits/default/files
2: Bulk upl